@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';

.label {
  @extend %font-family-normal;

  border: 2px solid transparent;
  border-radius: 2px;
  color: colors.$white-color;
  display: inline-block;
  font-size: variables.$f-size-12;
  padding: 5px 15px;
  text-transform: uppercase;

  &.success {
    background: colors.$primary-green;
  }

  &.warning {
    background-color: colors.$warning-color;
  }

  &.danger {
    background-color: colors.$primary-red;
  }

  &.info {
    background-color: colors.$label-purple;
  }

  &.plain {
    background-color: colors.$label-gray;
    color: colors.$grey-color;
  }
}
