@import 'src/styles/colors';
@import 'src/styles/fonts';

.label {
  @extend %font-family-lato-regular;

  border: 2px solid transparent;
  border-radius: 2px;
  color: $white-color;
  display: inline-block;
  font-size: 0.8em;
  padding: 5px 15px;
  text-transform: uppercase;

  &.success {
    background: rgb(35 190 94);
  }

  &.warning {
    background-color: $warning-color;
  }

  &.danger {
    background-color: $primary-red;
  }

  &.info {
    background-color: #00f;
  }

  &.plain {
    background-color: #f1f1f1;
    color: $grey-color;
  }
}
