@import "src/styles/colors";

.tag {
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 5px 15px;
  font-size: 0.8em;
  color: white;
  font-family: 'Lato-Regular',sans-serif;
  text-transform: uppercase;
  display: inline-block;
}

.tagSuccess {
  @extend .tag;
  background: rgb(35, 190, 94);
}

.tagWarning {
  @extend .tag;
  background-color: #FEC112;;
}

.tagDanger{
  @extend .tag;
  background-color: #fc4c50;;
}