@using Resource = Resources.Statistics.Views.StatisticsIndex;

@{
    ViewBag.Title = Resource.Page_title;
}

<h1>@ViewBag.Title</h1>

<style>
    .k-chart {
        width: 1110px;
        height: 800px;
    }
</style>

<div class="wide">
    @(Html.Kendo().Chart<OJS.Web.ViewModels.Statistics.SubmissionsStatisticsViewModel>()
        .Name("chart")
        .Title(Resource.Submissions_count_per_month_title)
        .SeriesColors("#5DADE2")
        .Legend(legend => legend
            .Visible(false)
        )
        .ChartArea(chartArea => chartArea
            .Background("transparent")
        )
        .Series(series => {
            series
                .Column(model => model.TotalSubmissionsCount)
                .Name(Resource.Total_submissions);
        })
        .CategoryAxis(axis => axis
            .Categories(model => model.Month)
            .MajorGridLines(lines => lines.Visible(true))
        )
        .ValueAxis(axis => axis
            .Numeric()
            .Line(line => line.Visible(false))
            .MajorGridLines(lines => lines.Visible(true))
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Color("#FFF")
            .Template("#= series.name #: #= value #")
        )
        .DataSource(dataSource => dataSource
            .ServerOperation(true)
            .Read(read => read
                .Type(HttpVerbs.Post)
                .Action(
                    "GetLatestTwelveMonthSubmissionsCount",
                    "Statistics")
            )
        )
    )
</div>