@import "src/styles/components";
@import "src/styles/colors";

.btn {
  font-weight: 700;
  font-family: Lato, serif;

  border-radius: 8px;
  padding: 10px 16px;
  margin: 0;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: all .28s ease-in-out;
  color: white;

  &:hover {
    cursor: pointer;
  }

  &.primary {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    background-color: $background-color-btn-primary;

    &:hover {
      box-shadow: 6px 8px 15px 1px rgba(27, 139, 249, 0.2);
    }
  }

  &.secondary {
    color: $color-btn-secondary;
    box-shadow: none;
    background-color: $background-color-btn-secondary;
    border-color: #42abf8;

    &:hover {
      background-color: $background-color-btn-secondary-hover;
      box-shadow: none;
    }
  }

  &.plain {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0;
    margin: 0;
    text-transform: none;
  }

  &.disabled {
    color: $color-btn-disabled;
    box-shadow: none;
    background-color: $background-color-btn-secondary;
    border-color: $color-btn-disabled;
    pointer-events: none;

    &:hover {
      cursor: not-allowed;
      box-shadow: none;
    }
  }

  &.small {
    @extend .small;
  }

  &.medium {
    @extend .medium;
  }

  &.large {
    @extend .large;
  }

  &.none {
    font-family: 'Lato', serif;
    color: $text-dark-gray-color;

    &:hover {
      color: $background-color-btn-primary;
    }
  }

}