@use 'src/styles/components.scss';
@use 'src/styles/colors.scss';
@use 'src/styles/fonts.scss';
@use 'src/styles/font-weights.scss';
@use 'src/styles/border-radiuses.scss';

.btn,
%btn {
  @extend %font-family-normal;

  border: 2px solid transparent;
  border-radius: 8px;
  color: colors.$white-color;
  cursor: pointer;
  font-weight: font-weights.$font-weight-regular;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.28s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &.primary {
    background-color: colors.$background-color-btn-primary;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);

    &:hover {
      box-shadow: 6px 8px 15px 1px rgb(27 139 249 / 20%);
    }
  }

  &.secondary,
  %secondary {
    @extend %font-family-normal;

    background: none;
    border: 2px solid colors.$primary-blue;
    border-radius: border-radiuses.$br-6;
    box-shadow: none;
    color: colors.$primary-blue;

    &:hover {
      cursor: pointer;
    }
  }

  &.plain {
    background: none;
    border: 0;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: inherit;
    padding: 0;
    text-transform: none;
  }

  &.disabled,
  %disabled {
    background-color: transparent !important;
    box-shadow: none;
    pointer-events: none;

    &:hover {
      box-shadow: none;
      cursor: not-allowed;
    }
  }

  &.toggled {
    background-color: colors.$light-blue-color;
    color: colors.$white-color;
  }

  &.untoggled {
    background-color: colors.$white-color;
    color: colors.$light-blue-color;
  }

  &.lightNeutral {
    background-color: transparent;
    border: 1px solid colors.$white-color;
    color: colors.$white-color;
  }

  &.darkNeutral {
    background-color: transparent;
    border: 1px solid colors.$dark-base-color-500;
    color: colors.$dark-base-color-500;
  }

  &.small {
    @extend %small;
  }

  &.medium {
    @extend %medium;
  }

  &.large {
    @extend %large;
  }

  &.none {
    @extend %font-family-normal;

    color: colors.$text-dark-gray-color;

    &:hover {
      color: colors.$background-color-btn-primary;
    }
  }

  &.wide {
    width: 100%;
  }

  &.competeClassName {
    background-color: colors.$secondary-green;
    border-color: colors.$secondary-green;

    &:hover {
      box-shadow: 6px 8px 15px 1px rgb(45 189 39 / 20%);
    }
  }

  &.image {
    background: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    margin: 0;
    padding: 0;
  }
}

.lightDisabled {
  border-color: colors.$light-base-color-500 !important;
  color: colors.$light-base-color-500;
}

.darkDisabled {
  border-color: colors.$dark-base-color-100 !important;
  color: colors.$dark-base-color-100;
}
