@use 'src/styles/components.scss';
@use 'src/styles/colors.scss';
@use 'src/styles/fonts.scss';

.btn {
  @extend %font-family-lato;

  border: 2px solid transparent;
  border-radius: 8px;
  color: colors.$white-color;
  cursor: pointer;
  font-weight: 700;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.28s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &.primary {
    background-color: colors.$background-color-btn-primary;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);

    &:hover {
      box-shadow: 6px 8px 15px 1px rgb(27 139 249 / 20%);
    }
  }

  &.secondary {
    background-color: colors.$background-color-btn-secondary;
    border-color: colors.$light-blue-color;
    box-shadow: none;
    color: colors.$color-btn-secondary;

    &:hover {
      background-color: colors.$background-color-btn-secondary-hover;
      box-shadow: none;
    }
  }

  &.plain {
    background: none;
    border: 0;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: inherit;
    padding: 0;
    text-transform: none;
  }

  &.disabled {
    background-color: colors.$background-color-btn-secondary;
    border-color: colors.$color-btn-disabled;
    box-shadow: none;
    color: colors.$color-btn-disabled;
    pointer-events: none;

    &:hover {
      box-shadow: none;
      cursor: not-allowed;
    }
  }

  &.small {
    @extend %small;
  }

  &.medium {
    @extend %medium;
  }

  &.large {
    @extend %large;
  }

  &.none {
    @extend %font-family-lato;

    color: colors.$text-dark-gray-color;

    &:hover {
      color: colors.$background-color-btn-primary;
    }
  }

  &.wide {
    width: 100%;
  }
}
