@import "src/styles/colors";

.link {
    font-family: 'Lato', serif;
    font-weight: 500;
    text-decoration: none;
    color: $text-dark-gray-color;

    &:hover {
        color: $background-color-btn-primary;
    }
}