@model OJS.Servers.Ui.Models.CreateReactAppViewModel

<!DOCTYPE html>
<html lang="en">
<script>
    window.isLoggedIn = Boolean(@Model?.IsAuthenticated.ToString().ToLower())
</script>
<head>
    @Html.Raw(Model?.HeadContent)
</head>
<body>
    @Html.Raw(Model?.BodyContent)
</body>
</html>