@use 'src/styles/colors';
@use 'src/styles/spacings';
@use 'src/styles/variables';
@use 'src/styles/font-weights';

.contestRegisterWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}