@use 'src/styles/colors';
@use 'src/styles/fonts';

.alertBox {
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-family: fonts.$font-family-montserrat;
  font-size: 18px;
  justify-content: space-between;
  padding: 20px;

  &.error {
    background-color: rgba(255 76 80 / 50%);
    border: 2px solid colors.$primary-red;
    color: colors.$text-dark-red;

    button {
      color: colors.$text-dark-red;
    }
  }

  &.info {
    background-color: colors.$primary-blue;
    border: 2px solid colors.$primary-blue;
    color: colors.$white-color;
  }

  &.success {
    background-color: colors.$primary-green;
    border: 2px solid colors.$primary-green;
    color: colors.$white-color;
  }

  &.hidden {
    display: none;
  }
}
