@use 'src/styles/colors.scss';

%adminDisabled {
  background-color: transparent !important;
  box-shadow: none;
}

.adminDisabledLight {
  @extend %adminDisabled;

  border-color: colors.$light-base-color-300 !important;
  color: colors.$light-base-color-300;
}

.adminDisabledDark {
  @extend %adminDisabled;

  border-color: colors.$dark-base-color-100 !important;
  color: colors.$dark-base-color-100;
}
