@import "src/styles/colors";
@import "src/styles/fonts";

.heading {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid $bottom-border-color;
}

.sortingTypeContainer {
  margin-top: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.button {
  font-weight: normal;
  border: none;
}

.sortTypesList {
  max-height: 130px;
  overflow: hidden;
  align-items: flex-start;
  justify-content: space-evenly;

  .sortTypesListItem {
    margin-top: 5px;
  }
}