@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/spacings';

.contestPasswordForm {
  @extend %font-family-normal;

  align-content: center;
  margin: 0 auto;
  text-align: center;
  width: 50%;

  .contestName {
    color: colors.$primary-blue !important;
  }

  .submitBtn[type='submit'] {
    align-self: center;
  }

  .formHeader {
    text-align: center;
  }

  svg {
    justify-self: flex-end !important;
  }

  .errorMessage {
    color: colors.$primary-red;
    margin-top: spacings.$sp-12;
    text-align: center;
  }
}
