@use 'src/styles/colors';

.contestPasswordForm {
  align-content: center;
  margin: 0 auto;
  text-align: center;
  width: 50%;

  .submitBtn[type='submit'] {
    align-self: center;
  }
}

.formHeader {
  text-align: center;
}

.errorMessage {
  color: colors.$primary-red;
  margin-top: 10px;
  text-align: center;
}
