@import "src/styles/colors";

.contestPasswordForm {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  align-content: center;
  
  & > button[type='submit'] {
    align-self: center;
  }
}

.formHeader {
  text-align: center;
}

.contestNameHeading {
  
}

.errorMessage {
  margin-top: 10px;
  color: $primary-red;
  text-align: center;
}