@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';

.detailsCollapsibleButton {
  margin-top: -60px;
}

.executionComment {
  @extend %font-family-lato;
  padding-top: 30px;
}

.testRunContainer {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.testRun {
  @extend %font-family-lato;

  border-bottom: 1px solid colors.$bottom-border-color;
  color: colors.$text-dark-gray-color;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
}

%heading {
  display: flex;
  font-size: variables.$f-size-18;
  margin-bottom: 10px;
}

.testRunHeading {
  @extend %heading;
}

.testRunDetailsCollapsible {
  @extend %font-family-lato;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-grow: 1;
}

.wrongTestRunHeading {
  @extend %heading;

  color: colors.$primary-red;
}

.collapsibleHeader {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.correctTestRunHeading {
  @extend %heading;

  color: colors.$primary-green;
}

.testRunData {
  align-self: center;
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.testRunDataParagraph {
  @extend %font-family-lato;

  color: colors.$text-dark-gray-color;
  font-size: variables.$f-size-14;
}
