@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';

.testRun {
  @extend %font-family-lato;

  border-bottom: 1px solid colors.$bottom-border-color;
  color: colors.$text-dark-gray-color;
  margin-top: 10px;
  padding: 20px;
}

%heading {
  display: flex;
  font-size: variables.$f-size-18;
  margin-bottom: 10px;
}

.testRunHeading {
  @extend %heading;
}

.wrongTestRunHeading {
  @extend %heading;

  color: colors.$primary-red;
}

.collapsibleHeader {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.correctTestRunHeading {
  @extend %heading;

  color: colors.$primary-green;
}

.testRunData {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 10px;
}

.testRunDataParagraph {
  @extend %font-family-lato;

  color: colors.$text-light-gray-color;
  font-size: variables.$f-size-12;
}
