@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/components';
@use 'src/styles/variables';

.footer {
  @extend %font-family-normal;

  background: colors.$background-color-footer;
  color: colors.$text-light-gray-color;
  min-height: 30vh;
  z-index: 1;
}
