@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/spacings';
@use 'src/styles/variables';
@use 'src/styles/font-weights';
@use 'src/styles/border-radiuses';

.submissionsDetailsWrapper {
  @extend %font-family-roboto;
  padding: spacings.$sp-16 spacings.$sp-32;

  .submissionTitle {
    padding: spacings.$sp-24 0;
    font-size: variables.$f-size-24;
    font-weight: font-weights.$font-weight-bold;
  }

  .bodyWrapper {
    display: flex;

    .problemName {
      color: colors.$primary-blue;
      cursor: pointer;
    }
    .solutionTitle {
      font-weight: font-weights.$font-weight-bold;
      font-size: variables.$f-size-24;
      margin-bottom: spacings.$sp-32;
    }
    .innerBodyWrapper {
      width: 100%;
    }
    .codeContentWrapper {
      margin-top: spacings.$sp-32;

      > div {
        font-size: variables.$f-size-30;
      }
      section {
        margin-top: spacings.$sp-12;
      }
    }

    .submissionDetailsWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: spacings.$sp-32;

      .detailsRow {
        margin-bottom: spacings.$sp-8;

        span:first-child {
          font-weight: font-weights.$font-weight-bold;
        }
        span:nth-child(2) {
          margin-left: spacings.$sp-8;
        }
      }

      .strategyWrapper {
        display: flex;
        justify-content: flex-end;
        span {
          padding: spacings.$sp-12;
          border-radius: border-radiuses.$br-6;
        }
      }
      .buttonWrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: spacings.$sp-16;
      }
    }
  }
}
