@use 'src/styles/fonts';
@use 'src/styles/variables';
@use 'src/styles/spacings';
@use 'src/styles/shadows';

.breadcrumbsWrapper {
  @extend %font-family-roboto;

  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: variables.$f-size-18;
  justify-content: flex-start;
  padding: spacings.$sp-4 spacings.$sp-8;
  position: absolute;
  top: 105px;
  width: 87%;
}
