@use 'src/styles/colors';
@use 'src/styles/variables';

.submissionsList {
  align-items: start;
  padding: 20px 0;
  margin-right: 20px;

  .submissionListItem {
    color: colors.$text-dark-gray-color;
    font-family: Lato, serif;
    font-size: 18px;
    margin-top: 10px;
    text-align: start;
  }
}

.submissionsScroll {
  overflow: auto;
}

.submissionContainer {
  border-bottom: 1px solid colors.$bottom-border-color;
  display: flex;
  justify-content: space-between;
  padding: 45px 0 5px;
  position: relative;
  width: 100%;

  &.selected {
    color: colors.$color-btn-secondary;
  }
}

.actionsContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  width: 100%;
}

.infoContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.submissionCreatedOnParagraph {
  color: colors.$text-dark-gray-color;
  font-family: Lato, serif;
  font-size: variables.$f-size-14;
}

.submissionDetailsButtonsWrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
}

.submissionTypeText {
  @media only screen and (max-width: variables.$r-large-desktop-max) {
    font-size: variables.$f-size-16;
  }
}

.submissionTypeLabel {
  @media only screen and (max-width: variables.$r-large-desktop-max) {
    font-size: variables.$f-size-12;
  }
}
