@use 'src/styles/colors';

.submissionsList {
  align-items: start;
  padding: 20px;

  .submissionListItem {
    color: colors.$text-dark-gray-color;
    font-family: Lato, serif;
    font-size: 18px;
    margin-top: 10px;
    text-align: start;
  }
}

.submissionsScroll {
  overflow: auto;
}

.submissionContainer {
  border-bottom: 1px solid colors.$bottom-border-color;
  display: flex;
  justify-content: space-between;
  padding: 45px 0 5px;
  position: relative;
  width: 100%;

  &.selected {
    color: colors.$color-btn-secondary;
  }
}

.actionsContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.infoContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.submissionCreatedOnParagraph {
  color: colors.$text-light-gray-color;
  font-family: Lato, serif;
  font-size: 12px;
}
