@import 'src/styles/colors';
@import 'src/styles/fonts';
@import 'src/styles/variables';

.contestCard {
  @extend %font-family-lato;

  align-content: center;
  border-radius: 8px;
  box-shadow: $box-shadow-color;
  display: grid;
  flex-flow: wrap;
  grid-gap: 10px;
  grid-template-rows: auto 1fr auto;
  margin: 10px;
  min-height: 10vh;
  padding: 0.7vw;
}

.tooltip {
  max-width: 245px;
  position: absolute;
  visibility: hidden;
  width: 100%;

  .tooltipText {
    bottom: 100%;
    font-size: 15px;
    overflow: hidden;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    white-space: nowrap;
  }
}

.contestCardHeader {
  @extend %font-family-lato;

  border-bottom: 1px solid;
  border-bottom-color: $bottom-border-color;
  display: flex;
  flex-direction: row;
  font-size: $f-size-18;
  font-weight: 500;
  justify-content: space-between;
  margin: 10px;
  min-height: 4vh;

  &:hover {
    .tooltip {
      visibility: visible;
    }
  }
}

.contestCardControls {
  align-items: flex-end;
  display: flex;
  grid-gap: 10px;
}

.contestCardCountdown {
  color: $text-dark-gray-color;
  font-size: $f-size-12;
  font-weight: bold;
  padding: 10px;
}

.contestCardCategoryLabel {
  color: $text-light-gray-color;
  font-size: $f-size-10;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
}

.contestCardTitle {
  display: block;
  max-width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
