@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';
@use 'src/styles/responsive';

.contestCard {
  @extend %font-family-lato;

  align-content: center;
  border-radius: 8px;
  box-shadow: colors.$box-shadow-color;
  color: colors.$text-dark-gray-color;
  display: grid;
  flex: 0 0 10em;
  flex-flow: wrap;
  grid-gap: 10px;
  grid-template-rows: auto 2fr auto;
  margin: 10px;
  min-height: 10vh;
  min-width: 240px;
  padding: 0.7vw;
  width: 13vw;

  @media only screen and (max-width: variables.$r-laptop-max) {
    margin-left: auto;
    margin-right: auto;
  }
}

.tooltip {
  max-width: 245px;
  position: absolute;
  visibility: hidden;
  width: 100%;

  .tooltipText {
    bottom: 100%;
    font-size: 15px;
    overflow: hidden;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    white-space: nowrap;
  }
}

.contestCardHeader {
  @extend %font-family-lato;

  border-bottom: 1px solid;
  border-bottom-color: colors.$bottom-border-color;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  justify-content: space-between;
  margin: 10px;
  min-height: 4vh;

  &:hover {
    .tooltip {
      visibility: visible;
    }
  }
}

.contestCardControls {
  align-items: flex-end;
  display: flex;
  grid-gap: 10px;
  justify-content: center;
}

.contestCardCountdown {
  color: colors.$text-dark-gray-color;
  font-size: variables.$f-size-12;
  font-weight: bold;
  padding: 10px;
}

.contestCardCategoryLabel {
  color: colors.$text-light-gray-color;
  font-size: variables.$f-size-10;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
}

.contestCardTitle {
  display: block;
  font-size: variables.$f-size-20;
  max-width: 11vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  @media only screen and (max-width: variables.$r-small-desktop-max) {
    font-size: variables.$f-size-18;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  overflow: auto;
  background-color: colors.$white-color;
}

.modalHeading {
  align-self: self-start;
  background-color: colors.$light-blue-color;
}
