@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';
@use 'src/styles/responsive';

.contestCard {
  @extend %font-family-lato;

  align-content: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: colors.$box-shadow-color;
  color: colors.$text-dark-gray-color;
  display: grid;
  flex: 0 0 10em;
  flex-flow: wrap;
  grid-gap: 10px;
  grid-template-rows: auto 2fr auto;
  margin: 15px;
  height: 180px;
  min-width: 240px;
  padding: 10px;
  width: 220px;
}

.tooltip {
  max-width: 255px;
  position: absolute;
  opacity: 0;
  width: 100%;
  transition: all .2s ease-in-out;
  
  .tooltipText {
    font-size: 20px;
    bottom: 100%;
    overflow: hidden;
    padding: 10px;
    margin: -10px;
    text-align: left;
    background-color: #fff;
    border: 2px solid colors.$light-blue-color;
    border-radius: 4px;
    display: block;
    height: auto;
    width: 80%;
    white-space: normal;
    transition: all .2s ease-in-out;
  }
}

.contestCardHeader {
  @extend %font-family-lato;

  border-bottom: 1px solid;
  border-bottom-color: colors.$bottom-border-color;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  justify-content: space-between;
  margin: 10px;
}

.contestTitleHoverable {
  &:hover {
    .tooltip {
      opacity: 1;
      cursor: auto;
    }
    
    .tooltipText {
      display: block;
    }
    
    .contestCardTitle {
      visibility: hidden;
    }
  }
}

.contestCardControls {
  align-items: flex-end;
  display: flex;
  grid-gap: 10px;
  justify-content: space-between;
  padding: 0 10px;
}

.contestCardCountdown {
  color: colors.$text-dark-gray-color;
  font-size: variables.$f-size-12;
  font-weight: bold;
  padding: 10px;
}

.contestCardCategoryLabel {
  color: colors.$text-light-gray-color;
  font-size: variables.$f-size-14;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
}

.contestCardTitle {
  display: block;
  font-size: variables.$f-size-20;
  max-width: 200px;
  padding-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-height: 40px;

  @media only screen and (max-width: variables.$r-small-desktop-max) {
    font-size: variables.$f-size-18;
  }
}

@media (max-width: 950px) {
  .contestCard {
    width: 320px;
  }
  
  .tooltipText {
    width: 111% !important;
  }
}

@media (max-width: 710px) {
  .contestCard {
    width: 250px;
  }
  
  .tooltipText {
    width: 80%;
  }
}
