.administrationFilters {
    background-color: #fbfbfb;
    padding: 10px 50px;
    margin-left: 380px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgb(0 0 0/ 0.3);
  
    .buttonsSection {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
  
    .removeFilterButton {
        position: absolute;
        left: 386px;
        margin-top: 16px;
        cursor: pointer;
        transition: color .2s ease-in-out;
        
        &:hover {
          color: #1976d2;
        }
    }
  
    .closeIcon {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;

        &:hover {
            color: #1976d2;
        }
    }
  }