.limitsWrapper {
  align-items: 'flex-start';
  display: 'flex';
  flex-direction: 'column';
  height: '100%';
  justify-content: 'space-between';
  width: '20%';
}

.limitField {
  margin: 8px !important;
}

.submissionTypeName {
  width: 30%;
}

.solutionSkeleton {
  overflow-x: scroll;
  width: 35%;
}
