.limitsWrapper {
    display: 'flex';
    flex-direction: 'column';
    width: '20%';
    height: '100%';
    align-items: 'flex-start';
    justify-content: 'space-between';
}

.limitField {
    margin: 8px !important;
}

.submissionTypeName {
    width: 30%;
}

.solutionSkeleton {
    width: 35%;
    overflow-x: scroll;
}