.fieldBox {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  width: 90%;
}

.fieldBox > div > div {
  width: 95%;
}

.textArea {
  width: 90%;
}

.flex {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem, auto;
}

.checkboxes {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}
