.fieldBox {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 90%;
}

.fieldBox > div > div {
    width: 95%;
}

.textArea {
    width: 90%;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem, auto;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    margin-left: 5rem;
}
