.textArea {
  width: 90%;
}

.flex {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem, auto;
}

.checkboxes {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}
