@use 'src/styles/colors';
@use 'src/styles/fonts';

.noSubmissionsFound {
  @extend %font-family-montserrat;

  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.filtersContainer {
  align-items: flex-start;
  display: flex;
  margin: 10px;
}

.clearFiltersBtn {
  margin-left: 10px;
  margin-top: 25px;
}

.submissionRow {
  border-bottom: 1px solid colors.$bottom-border-color;

  &:last-of-type {
    margin-bottom: 20px;
  }
}
