@use 'src/styles/colors';
@use 'src/styles/variables';

.compileAndUnknownError {
  font-size: variables.$f-size-16;
}

.executionResultInfo {
  display: flex;
  flex-direction: column;
}

.testResultsList {
  display: flex;
  justify-content: space-evenly;
}

.testRunsContainer {
  max-width: 10vw;
}
