@use 'src/styles/colors';
@use 'src/styles/variables';

.compileAndUnknownError,
.maxTimeUsed,
.maxMemoryUsed {
  font-size: variables.$f-size-16;
}

.executionResultInfo {
  display: flex;
  flex-direction: column;
}

.testResultsList {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.timeAndMemoryContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
