@use 'src/styles/fonts';
@use 'src/styles/spacings';

.testRunWrapper {
  margin: spacings.$sp-18 0;
  padding: spacings.$sp-12;

  .testRunTitleWrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .testNameButtonWrapper {
      align-items: center;
      display: flex;
    }

    button {
      margin-left: spacings.$sp-32;
    }

    .testRunIdWrapper {
      color: inherit;
      margin-left: spacings.$sp-18;
      text-decoration: underline;

      &:visited {
        color: inherit;
      }
    }

    .timeAndMemoryWrapper {
      display: flex;

      span:first-child {
        margin-right: spacings.$sp-16;
      }

      span {
        align-items: center;
        cursor: pointer;
        display: flex;

        span {
          align-items: center;
          display: flex;
        }
      }

      svg:first-child {
        margin: 0 spacings.$sp-8;
      }
    }
  }

  .inputWrapper {
    margin: spacings.$sp-18 0;
    padding: spacings.$sp-12;
  }

  .outputWrapper {
    margin-top: spacings.$sp-12;
  }
}

.timeAndMemoryModal {
  @extend %font-family-normal;

  padding: spacings.$sp-8;
}
