/* stylelint-disable selector-max-compound-selectors */

@use 'src/styles/fonts';
@use 'src/styles/spacings';
@use 'src/styles/colors';
@use 'src/styles/variables';

.testRunWrapper {
  margin: spacings.$sp-18 0;
  padding: spacings.$sp-12 spacings.$sp-24;

  .testRunTitleWrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .testNameButtonWrapper {
      align-items: center;
      display: flex;
    }

    button {
      margin-left: spacings.$sp-32;
    }

    .testDetailsAndMemoryWrapper {
      align-items: center;
      display: flex;
      gap: spacings.$sp-12;

      .testLink {
        color: colors.$secondary-green;
        cursor: pointer;
        font-size: variables.$f-size-14;
        text-decoration: underline;
      }

      .timeAndMemoryWrapper {
        display: flex;
          gap: 10px;
          justify-content: end;
          align-items: center;
        color: colors.$light-text-color;

          .iconAndTextWrapper {
              gap: 5px;
          }

        span {
          align-items: center;
          cursor: pointer;
          display: flex;

          span {
            align-items: center;
            display: flex;
          }
        }
      }
    }
  }

  .zeroTestsInfoMessage {
    font-style: italic;
    margin-bottom: spacings.$sp-8;
  }

  .outputWrapper {
    margin-top: spacings.$sp-12;
  }
}

.timeAndMemoryModal {
  @extend %font-family-normal;

  padding: spacings.$sp-8;
}

.runtimeExecutionComment {
  margin-top: spacings.$sp-12;
}
