@use "src/styles/colors";
@use "src/styles/fonts";

.compilerComment {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
  font-family: fonts.$font-family-lato;
  font-size: 18px;

  background-color: rgba(colors.$primary-red, 0.5);
  border: 2px solid colors.$primary-red;
  margin: 24px 0 24px 0;
  gap: 12px;
}