@use 'src/styles/colors';
@use 'src/styles/fonts';

.compilerComment {
  background-color: rgba(255 76 80 / 50%);
  border: 2px solid colors.$primary-red;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: fonts.$font-family-montserrat;
  font-size: 18px;
  gap: 12px;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 20px;
}
