@use 'src/styles/colors';

.loginForm {
  align-content: center;
  border-radius: 8px;
  box-shadow: colors.$box-shadow-color;
  color: colors.$text-dark-gray-color;
  font-family: Lato, serif;
  margin: 20px auto;
  max-width: 768px;
  padding: 3vw;
  text-align: center;
  width: 27vw;
}

.loginFormHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.loginFormLink {
  color: colors.$primary-blue;

  &:hover {
    text-decoration: underline;
  }
}

.loginFormControls {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 100%;
}

.registerHeader {
  margin-top: 10px;
  text-align: center;
}

.errorMessage {
  color: colors.$primary-red;
  margin-top: 10px;
  text-align: center;
}
