@use 'src/styles/colors';

.loginFormContentContainer {
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: center;
  padding-top: 75px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 4px;
  box-shadow: colors.$box-shadow-color;
  font-family: Lato, serif;
  margin: 20px auto;
  max-width: 768px;
  padding: 3vw;
  text-align: center;
  width: 20vw;
  
  h2 {
    align-self: center;
    border-bottom: 3px solid colors.$primary-blue;
    padding: 0;
  }
}

.darkLoginForm {
  background-color: colors.$dark-base-color-200;
}

.loginFormHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.loginFormLink {
  color: colors.$primary-blue;

  &:hover {
    text-decoration: underline;
  }
}

.loginFormControls {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 100%;
}

.registerHeader {
  margin-top: 50px;
  text-align: center;
}

.errorMessage {
  color: colors.$primary-red;
  margin-top: 10px;
  text-align: center;
}

.loginFormLoader {
  height: 15px;
  margin-bottom: 40px;
  width: 100%;
}
