.list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;

  &.normal {
    list-style-type: none;
  }

  &.numbered {
    list-style-type: decimal;
    padding-left: 25px;

    &.alpha {
      list-style-type: upper-alpha;
    }
  }

  &.bulleted {
    list-style-type: circle;
  }

  &.horizontal {
    flex-direction: row;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.scrollable {
    overflow: scroll;
  }
}

.fullWidth {
  width: 100%;
}
