.listBase {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
}

.listNormal {
  @extend .listBase;
  list-style-type: none;
}

.listNumbered {
  @extend .listBase;
  list-style-type: decimal;
  padding-left: 25px;
}

.listNumberedAlpha {
  @extend .listBase;
  list-style-type: upper-alpha;
  padding-left: 25px;
}

.listBulleted {
  @extend .listBase;
  list-style-type: circle;
}

.listHorizontal {
  flex-direction: row;
}