@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';
@use 'src/styles/font-weights';

.profileAboutInfo {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.profileAboutInfoGroupControl {
  @extend %font-family-lato;

  color: colors.$text-dark-gray-color;
  margin-bottom: 10px;

  h2 {
    font-size: variables.$f-size-18;
    font-weight: font-weights.$font-weight-bolder;
    margin-bottom: 10px;
  }
}
