@import 'src/styles/colors';
@import 'src/styles/fonts';
@import 'src/styles/variables';

.profileAboutInfo {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.profileAboutInfoGroupControl {
  @extend %font-family-lato;

  color: $text-dark-gray-color;
  margin-bottom: 10px;

  h2 {
    font-size: $f-size-18;
    font-weight: bolder;
    margin-bottom: 10px;
  }
}
