.collapsibleContainer {
  overflow: hidden;
  transition: max-height 0.55s ease-out;
  width: 100%;

  &.visible {
    margin: 5px 0;
    max-height: max-content;
  }

  &.hidden {
    max-height: 0;
  }
}
