@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';

.contestMainWrapper {
  // no body
}

.contestInnerLayout {
  display: flex;
  flex: 90% 1;
  flex-direction: row;
  margin-top: 30px;
}

.heading {
  text-align: center;
}

.editorAndProblemControlsWrapper {
  @extend %font-family-montserrat;

  display: flex;
  flex: 3;
  flex-direction: column;
}

.executionTypeSelectors {
  display: flex;
  flex: 6;
  flex-direction: row;
}

.submitButtonContainer {
  flex: 1;
  padding: 5px 0;
  text-align: center;
}

.contestSubmitControlsWrapper {
  display: flex;
  flex-direction: row;
}

.submissionTypesList {
  max-width: 100%;
}

.submitCountdownWrapper {
  align-self: flex-end;
  color: colors.$background-color-btn-primary;
  font-family: fonts.$font-family-montserrat;
  font-size: 20px;
  padding: 10px;
}

.taskName {
  font-weight: bold;
}

.fileSubmissionDetailsParagraph {
  @extend %font-family-montserrat;

  color: colors.$text-dark-gray-color;
  font-size: variables.$f-size-16;
  padding: 10px;
}

.navigationalButtonsWrapper {
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 8px;
  width: 50%;
}
