@import "src/styles/colors";

.contestMainWrapper {
  flex-grow: 2;
}

.contestInnerLayout {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  //align-items: center;
  flex: 90% 1;
}


.editorAndProblemControlsWrapper {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.executionTypeSelectors {
  display: flex;
  flex-direction: row;
}

.contestSubmitControlsWrapper {
  display: flex;
  flex-direction: row;
}

.submissionTypesList {
  display: flex;
  flex-wrap: wrap;
  //max-width: 500px;
}

.taskName {
  font-weight: bold;
}