@use 'src/styles/colors';
@use 'src/styles/fonts';

.breadcrumbBtn {
  color: colors.$light-blue-color;
}

.breadcrumbBtnWithoutContestName {
  color: colors.$text-light-gray-color;

  &:hover {
    color: colors.$text-dark-gray-color;
  }
}

.breadcrumbBtnLast {
  color: colors.$text-dark-gray-color;
}

.breadCrumbContainer {
  justify-content: center;
  display: flex;
  gap: 6px;
}

.breadCrumbContainerWithoutContestName {
  justify-content: start;
}

.breadcrumbContestName {
  align-items: center;
  color: colors.$text-light-gray-color;
  display: flex;
  gap: 6px;
  font-size: 1rem;
  font-family: fonts.$font-family-roboto;
  font-weight: 400;
  letter-spacing: 0.0094em;
  line-height: 1.5;
}