@use 'src/styles/colors';

.breadcrumbBtn {
  color: colors.$light-blue-color;

  &:hover {
    color: colors.$text-dark-gray-color;
  }
}

.breadcrumbBtnLast {
  color: colors.$text-dark-gray-color;
}
