@use 'src/styles/colors';
@use 'src/styles/variables';

.contestCardsContainer {
  margin-top: 2vh;
}

.contestsSeeAllButton {
  align-self: flex-end;
  margin-right: 10px;
}

.contestList {
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contestListItem {
  @media only screen and (min-width: variables.$r-small-max) and (max-width: 1440px) {
    flex-basis: 50%;
  }
}