@import 'src/styles/colors';

.contestCardsContainer {
  margin-top: 2vh;
}

.contestsSeeAllButton {
  align-self: flex-end;
  margin-right: 10px;
}

.contestList {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .contestListItem {
    flex: 1 1 20%; /* grow | shrink | basis */
  }
}
