<li class="nav-item dropdown">
    <a
        class="nav-link dropdown-toggle"
        href="#"
        role="button"
        data-toggle="dropdown"
        aria-expanded="false"
    >
        Contests
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="#">Contests &raquo;</a>
            <ul class="dropdown-menu dropdown-submenu">
                <li>
                    <a class="dropdown-item" asp-action="Index" asp-controller="Contests">All</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-action="Create" asp-controller="Contests">Create</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="dropdown-item" href="#">Exam Groups &raquo;</a>
            <ul class="dropdown-menu dropdown-submenu">
                <li>
                    <a class="dropdown-item" asp-action="Index" asp-controller="ExamGroups">All</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-action="Create" asp-controller="ExamGroups">Create</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="dropdown-item" asp-action="BySubmissionSimilarity" asp-controller="Contests">Submission Similarities</a>
        </li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a
        class="nav-link dropdown-toggle"
        href="#"
        role="button"
        data-toggle="dropdown"
        aria-expanded="false">
        Problems
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" asp-action="Index" asp-controller="Problems">Problems</a>
        </li>
        <li>
            <a class="dropdown-item" asp-action="Index" asp-controller="ProblemResources">Problem Resources</a>
        </li>
        <li>
            <a class="dropdown-item" href="#">Problem Groups &raquo;</a>
            <ul class="dropdown-menu dropdown-submenu">
                <li>
                    <a class="dropdown-item" asp-action="Index" asp-controller="ProblemGroups">All</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-action="Create" asp-controller="ProblemGroups">Create</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="dropdown-item" asp-action="Index" asp-controller="Tests">Tests</a>
        </li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a
        class="nav-link dropdown-toggle"
        href="#"
        role="button"
        data-toggle="dropdown"
        aria-expanded="false"
    >
        Submissions
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" asp-action="Index" asp-controller="Submissions">Submissions</a>
        </li>
    </ul>
</li>