@using OJS.Common.Extensions
@using static AutoCrudAdmin.Constants.TempDataKeys;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - OJS.Servers.Administration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OJS.Servers.Administration</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Contests
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">Contests &raquo;</a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <a class="dropdown-item" asp-action="Index" asp-controller="Contests">All</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="Contests">Create</a>
                                    </li>
                                </ul>
                            </li>
                             <li>
                                <a class="dropdown-item" href="#">Lecturers In Contests &raquo;</a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <a class="dropdown-item" asp-action="Index" asp-controller="LecturersInContests">All</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="LecturersInContests">Create</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Lecturers In Contest Categories &raquo;</a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <a class="dropdown-item" asp-action="Index" asp-controller="LecturersInContestCategories">All</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="LecturersInContestCategories">Create</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Exam Groups &raquo;</a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <a class="dropdown-item" asp-action="Index" asp-controller="ExamGroups">All</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="ExamGroups">Create</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    @if (User.IsAuthenticated())
                    {
                        <li class="nav-item ml-auto">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Log out</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="root">
    <main role="main" class="pb-3">
        @if (TempData.TryGetValue(DangerMessage, out var dangerMessage))
        {
            <p class="alert alert-danger">@Html.Raw(dangerMessage)</p>
        }
        else if (TempData.TryGetValue(SuccessMessage, out var successMessage))
        {
            <p class="alert alert-success">@Html.Raw(successMessage)</p>
        }

        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - OJS.Servers.Administration - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
<script>
    $('.alert').click(function (event) {
        $(event.target).hide();
    });
</script>
</body>
</html>