@using OJS.Common.Extensions

@{
    var uiUrl = this.applicationUrls.GetUiUrlOrDefault();
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="@uiUrl">OJS</a>
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OJS Administration</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                @await Html.PartialAsync("_AutoCrudAdminNavItems")
                @if (User.IsAuthenticated())
                {
                    <li class="nav-item ml-auto">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Log out</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

