@use 'src/styles/colors';

.container {
  display: flex;
}

.contestItem {
  // flex: 0 0 20em;
  // width: 20em;
}

.breadcrumbBtn {
  color: colors.$text-light-gray-color;

  &:hover {
    color: colors.$text-dark-gray-color;
  }
}

.breadcrumbBtnLast {
  color: colors.$text-dark-gray-color;
}

.mainHeader {
  flex: 4;
  width: 100%;
}

.contestsListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contestsList {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}
