.cardContainer {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-items: center;
  place-items: center;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.buttonWrapper {
  align-self: center;
  display: flex;
  justify-content: end;
}

.button {
  height: 2rem;
  width: 5rem;
}

.container {
  flex: 1;
  height: 100%;
  margin-left: 1rem;
  margin-top: 1rem;
  min-height: 0;
  min-width: 0;
  width: 100%;
}
