@use 'src/styles/fonts';

.Tree {
  cursor: pointer;
  font-family: fonts.$font-family-lato-regular, 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.treeElement div:nth-child(2) {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  &:hover {
    max-width: none;
  }
}
