@import "src/styles/fonts";

.Tree {
  font-size: 1rem;
  font-family: $font-family-lato-regular, "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
}

.treeElement div:nth-child(2):hover {
  max-width: none;
}

.treeElement div:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  width: 100%;
}
