@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';
@use 'src/styles/spacings';
@use 'src/styles/font-weights';

.homePageWrapper {
  @extend %font-family-roboto;
  display: flex;
  padding: spacings.$sp-32 0 spacings.$sp-64 0;

  .homePageHeader {
    color: colors.$primary-blue;
    font-size: variables.$f-size-24;
    font-weight: font-weights.$font-weight-semi-bold;
  }

  iframe {
    border-radius: 12px;
    margin-top: spacings.$sp-24;
  }

  .homePageContentWrapper {
    display: flex;
    flex-direction: column;
    padding: 0 160px;

    hr {
      width: 100%;
      margin: spacings.$sp-64 0;
    }
  }
}

.gridWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeStatistics {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 1fr);
  gap: 80px;
}
.homePageStatisticWrapper {
  display: flex;
  align-items: center;

  .homeStatisticCount {
    font-size: variables.$f-size-24;
    margin-top: spacings.$sp-12;
    font-weight: font-weights.$font-weight-bold;
  }
}
.homePageStatisticTextWrapper {
  font-size: variables.$f-size-16;
  font-weight: font-weights.$font-weight-light;
  margin-left: spacings.$sp-32;
}