@use 'src/styles/variables';
@use 'src/styles/colors';

.closeIcon {
  left: 95%;
  position: relative;
}

.wrapper {
  background-color: colors.$white-color;
  border-radius: variables.$f-size-12;
  box-shadow: '0px 0px 19px -4px rgba(0,0,0,0.75)';
  font-family: 'Roboto, Helvetica , Arial', serif;
  height: 90%;
  left: 50%;
  overflow: auto;
  padding: variables.$f-size-18;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
