@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';
@use 'src/styles/responsive';
@use 'src/styles/shadows';
@use 'src/styles/spacings';
@use 'src/styles/font-weights.scss';
@use 'src/styles/border-radiuses.scss';

.row {
  @extend %font-family-roboto;

  height: 100%;
}

.lightRow {
  // TODO: Fix this color
  background: colors.$horizontal-line-gray;
  border-bottom: 1px solid colors.$wrappers-border-color;
}

.darkRow {
  background: colors.$primary-dark-grey-color;
  border-bottom: 1px solid #212328;
}

.redirectButton {
  background-color: inherit;
  border: 0;
  color: colors.$light-blue-color;
  cursor: pointer;
  font: inherit;
  font-size: variables.$f-size-16;
  margin-top: spacings.$sp-4;
  padding-left: 0;
  text-align: left;
}

.link {
  @extend %r-heading-primary;

  color: colors.$light-blue-color;
  display: inline-block;
  margin: spacings.$sp-8;
}

.strategy {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: spacings.$sp-12;
  height: 100%;
  justify-content: start;
}

.fromContainer {
  display: flex;
  flex-direction: column;
  
  .username {
    margin-top: spacings.$sp-4;
    max-width: 12vw;
  }
}

.competeIcon {
  margin: 0 spacings.$sp-12;
}

.executionResultContainer {
  display: flex;
  flex-direction: row;
  gap: spacings.$sp-18;
}

.maxTimeUsed,
.maxMemoryUsed {
  align-items: center;
  display: flex;
  flex-direction: column;

  .memoryIcon,
  .timeIcon {
    color: colors.$dark-base-color-100;
  }

  .timeAndMemoryText {
    font-size: variables.$f-size-16 !important;
    margin-top: spacings.$sp-4;
  }
}

.timeAndMemoryContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: spacings.$sp-12;
  justify-content: center;
  text-align: center;
}

.detailsButton {
  @extend %font-family-lato;

  border: 2px solid colors.$primary-blue;
  border-radius: border-radiuses.$br-6;
  color: colors.$primary-blue;
  cursor: pointer;
  font-weight: font-weights.$font-weight-semi-bold;
  margin: 0;
  outline: none;
  padding: spacings.$sp-8 spacings.$sp-16;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.28s ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

.lightDetailsButton {
  // TODO: Fix this color
  background-color: colors.$horizontal-line-gray;
}

.darkDetailsButton {
  background-color: colors.$primary-dark-grey-color;
}
