@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';
@use 'src/styles/responsive';
@use 'src/styles/shadows';

.textAlignRight {
  text-align: right;
}

.lightSubmissionsGridHeader {
  background: colors.$wrappers-border-color;
  color: colors.$text-dark-gray-color;
  box-shadow: shadows.$dp-shadow-1;
}

.darkSubmissionsGridHeader {
  background: #1C1C17;
  color: white;
  box-shadow: shadows.$dp-shadow-4;
}

.submissionsGridHeader {
  @extend %font-family-roboto;
  
  display: flex;
  flex-direction: row;
  align-content: start;
  justify-content: flex-start;
  padding: 8px 25px;
  
  & > div {
    padding: 0 10px;
  }
}

.smallColumn {
  flex: 1 0 2vw;
  width: 50px;
}

.wideColumn {
  display: flex;
  flex: 3;
  max-width: 500px;
  flex-direction: column;
  gap: 10px;
  
  .redirectButton {
    padding: 0;
  }
}

.lightRow {
  color: colors.$text-dark-gray-color;
  background: colors.$horizontal-line-gray;
  border-bottom: 1px solid colors.$wrappers-border-color;
}

.darkRow {
  background: colors.$background-color-footer;
  color: white;
  border-bottom: 1px solid #212328;
}

.container {
  @extend %font-family-roboto;
  
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 15px;

  .smallColumn,
  .wideColumn {
    padding: 0 10px;
  }

  .columnContainer {
    display: flex;
  }

  .link {
    @extend %r-heading-primary;

    color: colors.$light-blue-color;
    display: inline-block;
    margin: 0 5px;
  }

  .redirectButton {
    background-color: inherit;
    border: 0;
    color: colors.$light-blue-color;
    cursor: pointer;
    font: inherit;
    font-size: variables.$f-size-16;
  }
}
