@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';
@use 'src/styles/responsive';
@use 'src/styles/font-weights';

.container {
  @extend %font-family-lato;

  align-items: center;
  color: colors.$text-dark-gray-color;
  display: flex;
  justify-content: flex-start;
  padding: 25px;

  .strategyContainer,
  .pointsContainer,
  .detailsContainer,
  .executionResultContainer {
    padding: 0 10px;
  }

  .pointsContainer {
    @extend %r-heading-primary;

    text-align: center;
    width: 100px;
  }

  .detailsContainer {
    display: flex;
    flex: 17;
    flex-direction: column;
    gap: 10px;
  }

  .detailsButtonContainer {
    flex: 1 0 2vw;
  }

  .IdAndDateAndUsernameContainer {
    display: flex;
    gap: 5px;
    margin: 0 5px;
  }

  .IdContainer {
    color: colors.$text-light-gray-color;
  }

  .link {
    @extend %r-heading-primary;

    color: colors.$light-blue-color;
    display: inline-block;
    margin: 0 5px;
  }

  .redirectButton {
    background-color: inherit;
    border: 0;
    color: colors.$light-blue-color;
    cursor: pointer;
    font: inherit;
    font-size: variables.$f-size-16;
  }

  .competeIcon {
    margin: 0 10px;
  }

  .competeIconHoverText {
    background-color: colors.$white-color;
    border: 1px solid colors.$light-blue-color;
    border-radius: 4px;
    color: colors.$light-blue-color;
    font-weight: font-weights.$font-weight-light;
    opacity: 0;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    top: -40px;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    white-space: nowrap;
  }

  .competeIconWrapper {
    position: relative;

    &:hover {
      .competeIconHoverText {
        opacity: 1;
      }
    }
  }
}
