@use 'src/styles/colors';
@use 'src/styles/spacings';

.recentSubmissionsWrapper {
  margin-top: spacings.$sp-32;

  .refreshIcon {
    float: right;
  }
}

.recentSubmissionsGrid {
  margin-top: spacings.$sp-18;
}
