@use 'src/styles/colors';
@use 'src/styles/spacings';

.headingBorder {
    border-bottom: 1px solid;
    border-bottom-color: colors.$bottom-border-color;
}

.recentSubmissionsGrid {
    margin-top: spacings.$sp-18;
}