@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/components';

.header {
  display: flex;
  height: 75px;
  justify-content: center;
  position: absolute;
  width: 100%;

  @media only screen and (max-width: 425px) {
    padding: 0 5px;
  }

  h1 {
    color: colors.$white-color;
  }

  img {
    max-height: 40px;
  }
}

.headerSize {
  @extend %contentSize;

  align-items: center;
  background-color: colors.$white-color;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 14%), 0 3px 4px rgb(0 0 0 / 12%), 0 1px 5px rgb(0 0 0 / 20%);
  display: flex;
  justify-content: space-between;
  padding: 0 30px;

  @media only screen and (max-width: 425px) {
    box-shadow: none;
    padding: 0;
  }
}

.heading {
  @media only screen and (max-width: 425px) {
    width: 100px;
  }
}

.headerLinks {
  align-items: center;
  display: flex;
  font-family: fonts.$font-family-lato;
  gap: 10px;
  justify-content: center;
}
