@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/components';
@use 'src/styles/shadows';
@use 'src/styles/variables';
@use 'src/styles/spacings';
@use 'src/styles/font-weights';

.header {
  @extend %font-family-normal;

  align-items: center;
  background-color: colors.$primary-blue;
  box-shadow: shadows.$dp-shadow-4;
  display: flex;
  height: 30px;
  justify-content: space-between;
  padding: spacings.$sp-24 0;
  position: absolute;
  width: 100%;
  z-index: 3;

  > div {
    align-items: center;
    display: flex;
    margin-left: spacings.$sp-64;
  }

  .logoBtn {
    font-size: variables.$f-size-30 !important;
    font-weight: font-weights.$font-weight-bold !important;
    margin-right: spacings.$sp-12;
  }

  .navButton {
    color: colors.$white-color;
    font-size: variables.$f-size-18;
    font-weight: font-weights.$font-weight-regular;
    padding: 0 spacings.$sp-12;
  }

  .authButtons {
    align-items: center;
    display: flex;
    margin-right: spacings.$sp-192;
  }
}

.searchIcon {
  align-self: center;
  background-color: colors.$primary-blue;
  color: colors.$white-color;
  cursor: pointer;
  font-size: variables.$f-size-18;
  margin-right: spacings.$sp-12;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.themeSwitchWrapper {
  box-shadow: shadows.$dp-shadow-4;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 22px;
}
