@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/components';
@use 'src/styles/shadows';
@use 'src/styles/variables';
@use 'src/styles/spacings';
@use 'src/styles/font-weights';

.header {
  @extend %font-family-roboto;
  box-shadow: shadows.$dp-shadow-4;
  background-color: colors.$primary-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: spacings.$sp-24 0;
  z-index: 3;

  > div {
    margin-left: spacings.$sp-64;
  }
  .logoBtn {
    font-size: variables.$f-size-30 !important;
    font-weight: font-weights.$font-weight-bold !important;
    margin-right: spacings.$sp-12;
  }
  .navButton {
    font-size: variables.$f-size-18;
    font-weight: font-weights.$font-weight-regular;
    text-decoration: none;
    padding: 0 spacings.$sp-12;
    &:visited {
      color: colors.$white-color;
    }
  }
  .authButtons {
    margin-right: spacings.$sp-192;
  }
}

.searchIcon {
  cursor: pointer;
  color: colors.$white-color;
  font-size: variables.$f-size-18;
  background-color: colors.$primary-blue;
  margin-right: spacings.$sp-12;
  align-self: center;
  transition: all .1s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.themeSwitchWrapper {
  height: 40px;
  position: absolute;
  top: 22px;
  right: 30px;
  box-shadow: shadows.$dp-shadow-4;
}
