@use 'src/styles/fonts';
@use 'src/styles/colors';

.menuSection {
  @extend %font-family-normal;
}

.darkMenuSection {
    background: #687487;
    border-bottom: 1px solid #586272;
}

.menuSectionLabel {
    display: block;
    padding: 1em 1em 1em 1em;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: colors.$dark-base-color-200;
}