@use 'src/styles/fonts';
@use 'src/styles/variables';
@use 'src/styles/spacings';
@use 'src/styles/colors';
@use 'src/styles/font-weights';

.contestCategoriesWrapper {
  @extend %font-family-normal;

  min-height: 700px;
  width: 250px;

  .contestCategoriesHeader {
    align-items: center;
    display: flex;
    font-size: variables.$f-size-24;
    font-weight: font-weights.$font-weight-semi-bold;
    margin-bottom: spacings.$sp-32;
    width: 250px;

    > div {
      margin-right: spacings.$sp-12;
    }
  }

  .contestCategoriesInnerWrapper {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.2s ease-in-out;
  }

  .categoryListItem {
    .isChild {
      border-bottom: 0 solid transparent;
    }

    .categoryListItemContent {
      font-size: variables.$f-size-16;
      padding: spacings.$sp-8 spacings.$sp-4;

      &:hover {
        background-color: colors.$primary-blue;
        border-radius: 0;
        color: colors.$light-base-color-100;
      }
    }
  }

  .lightCategoryListItem {
    border-bottom: 1px solid colors.$light-base-color-500;
  }

  .darkCategoryListItem {
    border-bottom: 1px solid colors.$dark-base-color-300;
  }

  // categories with no children that are links and load the contests
  .categoryItem {
    align-items: center;
    border-bottom: 1px solid colors.$light-base-color-500;
    border-radius: 0;
    color: colors.$light-text-color;
    cursor: pointer;
    display: flex;
    font-size: variables.$f-size-16;
    justify-content: space-between;
    padding: spacings.$sp-12 spacings.$sp-4;
    text-align: left;
    transition: background-color 0.2s ease-in-out;

    &.darkCategoryItem {
      border-color: colors.$dark-base-color-300;
      color: colors.$dark-text-color;
    }

    &.mainTreeCategoryItem {
      padding-left: 28px;
    }

    > svg {
      margin-right: spacings.$sp-12;
    }

    &:hover {
      background-color: colors.$primary-blue;
      color: colors.$light-base-color-100;
    }
  }

  .childCategoryItem {
    border-bottom: 0 solid transparent;
    justify-content: flex-start;
  }

  .selectedCategory {
    background-color: colors.$primary-blue !important;
    color: colors.$light-base-color-100;
  }
}
