@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';

.heading {
  @extend %font-family-montserrat;

  color: colors.$text-dark-gray-color;
  font-weight: 500;

  &.primary {
    border-bottom: 1px solid;
    border-bottom-color: colors.$bottom-border-color;
    font-size: variables.$f-size-30;
    line-height: 36px;
    padding: 10px;

    @media only screen and (max-width: variables.$r-large-desktop-min) {
      font-size: variables.$f-size-24;
    }
  }

  &.secondary {
    font-size: variables.$f-size-24;
    font-weight: 400;
    line-height: 30px;
    padding: 10px;

    @media only screen and (max-width: variables.$r-large-desktop-min) {
      font-size: variables.$f-size-20;
    }
  }

  &.small {
    // TODO: Add styles
  }
}
