@use 'src/styles/colors';
@use 'src/styles/variables';
@use 'src/styles/fonts';

.constraints {
  @extend %font-family-normal;

  color: colors.$text-dark-gray-color;
  font-size: variables.$f-size-16;
  padding: 10px;
}

.constraintsList {
  align-items: start;

  > li {
    line-height: 20px;
  }
}

.questionIcon {
  margin-left: 5px;
}
