@use 'src/styles/colors';
@use 'src/styles/fonts';

.heading {
  border-bottom: 1px solid colors.$bottom-border-color;
  padding-bottom: 10px;
  text-align: left;
}

.listFilters {
  align-items: flex-start;
  max-height: 130px;
  overflow: hidden;

  .listFilterItem {
    margin-top: 5px;
  }

  &.expanded {
    max-height: none;
    overflow: visible;
  }
}

.btnSelectFilter {
  width: 95%;
}

.filterTypeContainer {
  margin-top: 10px;
}

.tooltip {
  display: none;
  left: 14%;
  margin-top: 12px;
  position: absolute;

  .tooltipElement {
    border-radius: 6px;
    font-family: fonts.$font-family-lato;
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
  }
}

.strategyHeader {
  width: 10px;

  &:hover {
    .tooltip {
      display: block;
    }
  }

  .strategyElementClassName {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
