@import "src/styles/colors";
@import "src/styles/fonts";

.heading {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid $bottom-border-color;
}

.listFilters {
  max-height: 130px;
  overflow: hidden;
  align-items: flex-start;

  .listFilterItem {
    margin-top: 5px;
  }

  &.expanded {
    max-height: none;
    overflow: visible;
  }
}

.btnSelectFilter {
  width: 95%;
}

.filterTypeContainer {
  margin-top: 10px;
}

.strategyHeader {
  width: 10px;

  &:hover {
    .tooltip {
      display: block;
    }
  }

  .strategyElementClassName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
  }
}

.tooltip {
  position: absolute;
  left: 14%;
  margin-top: 12px;
  display: none;

  .tooltipElement {
    color: $success-background-color;
    border-radius: 6px;
    padding: 10px;
    font-family: $font-family-lato;
    border: 2px solid $success-background-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
  }
}