@use 'src/styles/components';
@use 'src/styles/spacings';

.contentWrapper {
  @extend %contentSize;

  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: spacings.$sp-16 40px 0 0;

  &.wideContentWrapper {
    @extend %wide;
  }
}
