.adminHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.adminHeaderLink {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.adminNavLink {
  text-decoration: none;
  color: #3e4c5d;
  width: 100%;

}

.activeAdminNavLink {
  color: #42abf8;
}