@use 'src/styles/components';

.contentWrapper {
  @extend %contentSize;

  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 40px 40px 0;

  &.wideContentWrapper {
    @extend %wide;
  }
}
