@use 'src/styles/colors';
@use 'src/styles/variables';
@use 'src/styles/font-weights';

.privilegedButtonClassName {
  background-color: colors.$white-color;
  border: 0;
  color: colors.$light-blue-color;
  background: none;
  cursor: pointer;
  font-size: variables.$f-size-24;
  font-weight: font-weights.$font-weight-light;
  line-height: 30px;
  padding: 10px;

  &:hover {
    text-decoration-line: underline;
  }
}

.active {
  font-weight: font-weights.$font-weight-bold;
  text-decoration: underline;
}
