@use 'src/styles/colors';
@use 'src/styles/variables';


.privilegedButtonClassName {
  border: 0;
  color: colors.$light-blue-color;
  background: none;
  cursor: pointer;
  font-size: variables.$f-size-24;
  font-weight: 400;
  line-height: 30px;
  padding: 10px;

  &:hover {
    text-decoration-line: underline;
  }
}

.active {
  font-weight: bold;
  text-decoration: underline;
}
