@use 'src/styles/colors';
@use 'src/styles/variables';
@use 'src/styles/fonts';
@use 'src/styles/shadows';
@use 'src/styles/spacings';

.noSubmissionsFound {
  @extend %font-family-normal;

  align-items: center;
  display: flex;
  font-size: variables.$f-size-20;
  justify-content: center;
  margin-top: spacings.$sp-18;
}

.submissionsGrid {
  color: colors.$white-color;
  table-layout: auto;
  width: 100%;

  td {
    height: 65px;
    overflow: hidden;
    padding-left: spacings.$sp-12;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;

    .tdRight {
      text-align: right;
    }
  }

  .submissionsGridHeader {
    @extend %font-family-normal;
  }

  .lightSubmissionsGridHeader {
    background: colors.$primary-blue;
    box-shadow: shadows.$dp-shadow-1;
    color: colors.$light-base-color-100 !important;
  }

  .darkSubmissionsGridHeader {
    background: #1c1c17;
    box-shadow: shadows.$dp-shadow-4;
  }
}
