@use 'src/styles/colors';
@use 'src/styles/variables';
@use 'src/styles/fonts';

.noSubmissionsFound {
  @extend %font-family-montserrat;

  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
