@use 'src/styles/colors';

.resourceWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  min-height: 50px;
}

.resourceLink,
.resourceLinkButton {
  color: colors.$text-dark-gray-color;
  text-decoration: none;

  .icon {
    margin-right: 10px;
  }
}
