@use 'src/styles/components';
@use 'src/styles/colors';

.contestHeading {
  border: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

.headingContest {
  @extend %contentSize;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  overflow: auto;
  background-color: colors.$white-color;
}

.modalHeading {
  align-self: self-start;
  background-color: colors.$light-blue-color;
}

