@use 'src/styles/components';
@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';

.allowedLanguages {
  line-height: 1rem;  
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

.container {
  @extend %font-family-lato;

  display: flex;
  flex-direction: column;
  font-size: variables.$f-size-18;
}

.contestErrorHeading {
  border: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

.contestDetailsAndTasks {
  column-gap: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.detailsHeading{
  @extend %font-family-lato;
  
  font-size: variables.$f-size-24;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  font-size: variables.$f-size-14;
  div {
    margin: 10px 0;
  }
  
  width: 60%;
}

.emptyProblemsMessage {
  @extend %font-family-lato;

  font-size: variables.$f-size-14;
  margin: 10px 0;
}

.headingContest {
  align-self: center;
  font-size: variables.$f-size-30;
  margin-bottom: 20px;
}

.problemsHeading{
  @extend %font-family-lato;

  font-size: variables.$f-size-24;
  margin: 10px 0;
}

.resource {
  margin: -10px;
}

.resources {
  align-items: start;
}

.taskListItem {
  border-bottom: 1px solid colors.$bottom-border-color;
  display: flex;
}

.taskNameAndResources {
  display: flex;
  flex-direction: column;
}

.tasksListSideNavigation {
  align-items: flex-start;
  display: flex;
  font-size: variables.$f-size-12;

  .taskName {
    @extend %font-family-lato;

    color: colors.$text-dark-gray-color;
    font-size: variables.$f-size-16;
    margin-bottom: 5px;
    margin-top: 15px;
  }
}

