@use 'src/styles/components';
@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';
@use 'src/styles/font-weights';

.adminAccessibleButton {
  background-color: colors.$bottom-border-color;
  border: 2px solid colors.$bottom-border-color;
  border-radius: 8px;
  color: colors.$white-color;
  cursor: pointer;
  font-weight: font-weights.$font-weight-semi-bold;
  padding: 10px 16px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: colors.$wrappers-border-color;
  }
}

.allowedStrategies {
  line-height: 1rem;
}

.allowedStrategiesColor {
  color: colors.$light-blue-color;
}

.breadcrumbContainer {
  align-self: center;
}

.buttonsContainer {
  column-gap: 1%;
  display: flex;
  justify-content: center;
  margin: 15px;
}

.container {
  @extend %font-family-lato;

  display: flex;
  flex-direction: column;
  font-size: variables.$f-size-18;
  gap: 5px;
}

.contestErrorHeading {
  border: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

.contestDetailsAndTasks {
  column-gap: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.detailsHeading {
  @extend %font-family-lato;

  font-size: variables.$f-size-24;
}

.wideColumn {
  display: flex;
  flex-direction: column;
  font-size: variables.$f-size-14;
  width: 60%;

  div {
    margin: 10px 0;
  }
}

.emptyProblemsMessage {
  @extend %font-family-lato;

  font-size: variables.$f-size-14;
  margin: 20px 0;
}

.headingContest {
  align-self: center;
  font-size: variables.$f-size-30;
  margin-bottom: 20px;
}

.problemsHeading {
  @extend %font-family-lato;

  font-size: variables.$f-size-24;
  margin: 10px 0;
}

.resource {
  margin: -10px;
}

.resources {
  align-items: start;
}

.taskListItem {
  border-bottom: 1px solid colors.$bottom-border-color;
  display: flex;
}

.taskNameAndResources {
  display: flex;
  flex-direction: column;
}

.tasksListSideNavigation {
  align-items: flex-start;
  display: flex;
  font-size: variables.$f-size-12;
  margin: 10px 0;

  .taskName {
    @extend %font-family-lato;

    color: colors.$text-dark-gray-color;
    font-size: variables.$f-size-16;
    margin-bottom: 5px;
    margin-top: 10px;
  }
}
