@use 'src/styles/components';
@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';

.heading {
  align-self: center;
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

.container {
  @extend %font-family-lato;
  
  display: flex;
  flex-direction: column;
  font-size: variables.$f-size-18;
}

.contestHeading {
  border: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

.contestDetailsAndTasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 5%;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  font-size: variables.$f-size-14;
  margin: 10px;
  row-gap: 1%;
}

.headingContest {
  @extend %contentSize;
}

.tasks {
  font-size: variables.$f-size-12;
}

.taskListItem {
  border-bottom: 1px solid colors.$bottom-border-color;
  display: flex;
  row-gap: 3%;
}

.tasksListSideNavigation {
  align-items: flex-start;
  display: flex;

  .taskSideNavigationItem {
    @extend %font-family-lato;

    color: colors.$text-dark-gray-color;
    font-size: variables.$f-size-16;
    margin-top: 10px;
  }
}

