@use 'src/styles/colors';

.problemDetailsContainer {
  .problemItems {
    border-bottom: 1px solid colors.$bottom-border-color;

    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.centeredFlex {
  align-items: center;
  display: flex;
  justify-content: center;
}
