@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';
@use 'src/styles/responsive';

.userElement {
  @extend %font-family-normal;

  align-content: center;
  border-radius: 8px;
  box-shadow: colors.$box-shadow-color;
  color: colors.$text-dark-gray-color;
  display: grid;
  flex: 0 0 10em;
  flex-flow: wrap;
  grid-gap: 10px;
  justify-content: center;
  margin: 10px;
  min-height: 5vh;
  min-width: 240px;
  padding: 0.7vw;
  width: 13vw;
}

.userText {
  font-size: variables.$f-size-24;
  justify-self: center;
  max-height: 40px;
  max-width: 200px;
  overflow: hidden;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  @media only screen and (width <= variables.$r-small-desktop-max) {
    font-size: variables.$f-size-18;
  }
}
