@import "src/styles/colors";

.heading {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid $bottom-border-color;
}

.filterTypeContainer {
  margin-top: 10px;
}

.listFilters {
  max-height: 130px;
  overflow: hidden;
  align-items: flex-start;

  .listFilterItem {
    margin-top: 5px;
  }

  &.expanded {
    max-height: none;
    overflow: visible;
  }
}

.btnSelectFilter {
  width: 95%;
}

.container {
  min-width: 300px;
}

.strategyHeader {
  width: 10px;
}

.strategyHeader:hover {
  .tooltip {
    display: block;
  }
}

.tooltip {
  position: absolute;
  left: 14%;
  margin-top: 12px;
  display: none;
}

.tooltipElement {
  color: #42abf8;
  border-radius: 6px;
  padding: 10px;
  font-family: Lato, serif;
  border: 2px solid #42abf8;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.strategyElementClassName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}