@import 'src/styles/colors';

.heading {
  text-align: left;
  border-bottom: 1px solid $bottom-border-color;
}

.filterTypeContainer {
  margin-top: 10px;
}

.listFilterItems {
  display: block;
  max-height: 130px;
  overflow: hidden;
  .listFilterItem {
    margin-top: 5px;
  }
  
  &.expanded {
    max-height: none;
    overflow: visible;
  }
}

.btnSelectFilter {
  padding: 7px 14px;
  border-radius: 0;
  border-width: 1px;
}

.container {
  min-width: 300px;
}