@use 'src/styles/colors';
@use 'src/styles/spacings';

.fileName {
  margin-top: auto;
}

.fileUploadContainer {
  align-content: space-evenly;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.uploadedFileWrapper {
  align-items: center;
  display: flex;

  svg {
    margin-right: spacings.$sp-8;
  }
}
