@use 'src/styles/colors';
@use 'src/styles/variables';
@use 'src/styles/fonts';

.resourcesList {
  @extend %font-family-normal;

  align-items: start;
  font-size: variables.$f-size-18;
  padding: 10px;

  @media only screen and (max-width: variables.$r-large-desktop-max) {
    font-size: variables.$f-size-16;
  }
}

.noResourcesParagraph {
  @extend %font-family-normal;

  font-size: variables.$f-size-16;
  padding: 10px;
}
