@import "src/styles/colors";

.resourcesList {
  align-items: start;
}

.resourceWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  min-height: 50px;
  align-items: center;
}

.resourceLink {
  text-decoration: none;
  color: $text-dark-gray-color;
  
  & > i {
    margin-right: 10px;
  }
}