@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';
@use 'src/styles/responsive';
@use 'src/styles/font-weights';

.problemElement {
  @extend %font-family-lato;

  align-content: center;
  border-radius: 8px;
  box-shadow: colors.$box-shadow-color;
  color: colors.$text-dark-gray-color;
  display: grid;
  flex: 0 0 10em;
  flex-flow: wrap;
  grid-gap: 10px;
  grid-template-rows: auto 2fr auto;
  height: 240px;
  justify-content: center;
  margin: 15px;
  min-width: 240px;
  padding: 10px;
  width: 220px;
}

.problemContest {
  color: colors.$text-dark-gray-color;
  font-size: variables.$f-size-16;
  margin-left: 10px;
  max-width: 14vw;
  padding-bottom: 25px;
}

.problemCategory {
  color: colors.$text-light-gray-color;
  font-size: variables.$f-size-14;
  font-weight: font-weights.$font-weight-bold;
  margin-left: 10px;
  text-transform: uppercase;
}

.problemCardControls {
  align-items: flex-end;
  display: flex;
  grid-gap: 10px;
  justify-content: center;
}

.problemCardCountdown {
  color: colors.$text-dark-gray-color;
  font-size: variables.$f-size-12;
  font-weight: font-weights.$font-weight-bold;
  padding: 10px;
}

@media (max-width: 950px) {
  .problemElement {
    width: 320px;
  }
}

@media (max-width: 710px) {
  .problemElement {
    width: 250px;
  }
}
