@use 'src/styles/colors';
@use 'src/styles/variables';
@use 'src/styles/fonts';
@use 'src/styles/responsive';
@use 'src/styles/font-weights';

.problemText {
  display: block;
  font-size: variables.$f-size-20;
  max-height: 40px;
  max-width: 200px;
  overflow: hidden;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  @media only screen and (max-width: variables.$r-small-desktop-max) {
    font-size: variables.$f-size-18;
  }
}

.tooltip {
  max-width: 255px;
  opacity: 0;
  position: absolute;
  transition: all 0.2s ease-in-out;
  width: 100%;

  .tooltipText {
    background-color: #fff;
    border: 2px solid colors.$light-blue-color;
    border-radius: 4px;
    bottom: 100%;
    display: block;
    font-size: 20px;
    height: auto;
    margin: -10px;
    overflow: hidden;
    padding: 10px;
    text-align: left;
    transition: all 0.2s ease-in-out;
    white-space: normal;
    width: 80%;
  }
}

.problemTitleHoverable {
  &:hover {
    .tooltip {
      cursor: auto;
      opacity: 1;
    }

    .tooltipText {
      display: block;
    }

    .problemText {
      visibility: hidden;
    }
  }
}

.problemCardHeader {
  @extend %font-family-normal;

  border-bottom: 1px solid;
  border-bottom-color: colors.$bottom-border-color;
  flex-direction: row;
  font-weight: font-weights.$font-weight-regular;
  justify-content: space-between;
  margin: 10px;
}

@media (max-width: 950px) {
  .tooltipText {
    width: 111% !important;
  }
}

@media (max-width: 710px) {
  .tooltipText {
    width: 80%;
  }
}
