@use 'src/styles/colors';
@use 'src/styles/variables';
@use 'src/styles/fonts';

.tooltip {
  max-width: 245px;
  position: absolute;
  visibility: hidden;
  width: 100%;

  .tooltipText {
    bottom: 100%;
    font-size: 15px;
    overflow: hidden;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    white-space: nowrap;
  }
}

.problemCardHeader {
  @extend %font-family-lato;

  border-bottom: 1px solid;
  border-bottom-color: colors.$bottom-border-color;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  justify-content: space-between;
  margin: 10px;
  min-height: 4vh;

  &:hover {
    .tooltip {
      visibility: visible;
    }
  }
}

.problemText {
  display: block;
  font-size: variables.$f-size-20;
  max-width: 11vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
