@use 'src/styles/colors';

.adminNavLink {
  color: #3e4c5d;
  text-decoration: none;
  width: 100%;
}

.activeAdminNavLink {
  color: #2196f3 !important;
}

.arrowCommon {
  // background-color: colors.$white-color !important;
  box-shadow: 6px 0 7px -4px rgb(22 0 0 / 75%);
  height: 35px;
  margin: 0;
  padding: 0 !important;
  position: absolute;
  top: 430px;
  transition: 225ms ease-in-out, transform 225ms ease-in-out !important;
  width: 35px;
  z-index: 3;
}

.arrow {
  left: 220px;
}

.arrowRight {
  left: 45px;
}

.selectedSection {
  background-color: #2196f3 !important;
  color: colors.$white-color !important;
}

.list {
    overflow-x: hidden;
    overflow-y: scroll;
}

.listItemIcon {
  color: inherit !important;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 0.1rem;
  max-width: 100%;
  min-height: 90vh;
  padding: 1rem;
}

.drawerHeader {
  color: inherit !important;
  display: flex;
  flex-direction: column;
  min-height: 0 !important;

  .username {
    display: flex;
    flex-direction: column;
    margin-top: -0.5rem;
    font-size: 14px;
  }
}

.iconSize {
  font-size: 25px !important;
}
