$white-color: #fff;
$warning-color: #fec112;
$grey-color: #565656;
$light-blue-color: #42abf8;

$primary-blue: #44a9f8;
$background-color-footer: #374151;
$background-color-light-gray: #fff;
$wrappers-border-color: #cbcbcb;
$success-background-color: #42abf8;
$success-font-color: #fff;
$color-btn-secondary: $light-blue-color;
$color-btn-disabled: #bebebe;
$background-color-btn-primary: $success-background-color;
$background-color-btn-primary-hover: $primary-blue;
$background-color-btn-secondary: #fff;
$background-color-btn-secondary-hover: #e3f3fd;
$bottom-border-color: #bebebe;
$text-light-gray-color: #b8bbbe;
$text-dark-gray-color: #3e4c5d;
$text-dark-red: #a33338;
$box-shadow-color: 0 1px 5px rgb(0 0 0 / 20%), 0 3px 4px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 14%);
$primary-red: #fc4c50;
$primary-green: #23be5e;
$secondary-green: #57B99D;
$icon-red: #f00;
$icon-green: #0f0;
$icon-blue: #00f;
$label-purple: #9b5ec6;
$label-gray: #f1f1f1;
$horizontal-line-gray: #e5e5e5;
$horizontal-line-gray-darker: #e5e5e5;
