$font-family-montserrat: montserrat, serif;
$font-family-montserrat-medium: montserrat-medium, serif;
$font-family-roboto: roboto, serif;
$font-style-normal: roboto, normal;

%font-style-normal {
  font-family: $font-family-roboto;
  font-style: $font-style-normal;
}

%font-family-normal {
  @extend %font-style-normal;

  font-family: $font-family-roboto;
}

%font-family-regular {
  @extend %font-style-normal;

  font-family: $font-family-roboto;
}
