$font-family-montserrat: montserrat, serif;
$font-family-montserrat-medium: montserrat-medium, serif;
$font-family-roboto: roboto, serif;
$font-style-normal: normal;

%font-style-normal {
  font-style: $font-style-normal;

  font-family: $font-family-montserrat;
}

%font-family-regular {
  @extend %font-style-normal;

  font-family: $font-family-montserrat;
}

%font-family-montserrat {
  @extend %font-style-normal;

  font-family: $font-family-montserrat;
}

%font-family-montserrat-regular {
  @extend %font-style-normal;

  font-family: $font-family-montserrat;
}

%font-family-montserrat-medium {
  @extend %font-style-normal;

  font-family: $font-family-montserrat-medium;
}

%font-family-roboto {
  @extend %font-style-normal;

  font-family: $font-family-roboto;
}
