$background-color: #44a9f8;
$background-color-footer:#3e4c5d;
$wrappers-border-color: #CBCBCB;
$success-background-color:#42abf8;
$success-font-color: #fff;

$color-btn-secondary: #42abf8;

$background-color-btn-primary:$success-background-color;
$background-color-btn-primary-hover: $background-color;
$background-color-btn-secondary: white;
$background-color-btn-secondary-hover: #e3f3fd;
