$background-color: #44a9f8;
$background-color-footer:#3e4c5d;
$background-color-light-gray:#FDFDFD;
$wrappers-border-color: #CBCBCB;
$success-background-color:#42abf8;
$success-font-color: #fff;

$color-btn-secondary: #42abf8;

$color-btn-disabled: #bebebe;

$background-color-btn-primary:$success-background-color;
$background-color-btn-primary-hover: $background-color;
$background-color-btn-secondary: white;
$background-color-btn-secondary-hover: #e3f3fd;

$bottom-border-color: #bebebe;
$text-light-gray-color: #B5B5B5;
$text-dark-gray-color: #3E4C5D;

$box-shadow-color: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);

$primary-red: #fc4c50;
$primary-green: #23BE5E;

$icon-green: green;
$icon-blue: blue;
