@import "colors";

.small {
  padding: 10px 18px;
  font-size: 12px;
  line-height: 12px;
}

.medium {
  font-size: 16px;
  line-height: 16px;
  padding: 13px 24px;
}

.large {
  padding: 16px 48px;
  font-size: 16px;
  line-height: 16px;
}

.contentSize {
  margin: 0 auto;
  width: 1280px;
  max-width: 90%;
  box-sizing: border-box;
  
  &.wide {
    width: 100%;
    max-width: 100%;
  }

  @media only screen and (max-width: 1440px) {
    width: 1280px;
  }
}

.sideNavigation {
  align-items: start;
  padding: 20px;

  .sideNavigationItem {
    text-align: start;
    font-size: 18px;
    font-family: 'Lato', serif;
    color: $text-dark-gray-color;
    margin-top: 10px;

    &:hover {
      cursor: pointer;
    }

    &.selected {
      color: $color-btn-secondary;
    }
  }
}

.sideNavigationListItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 25px 0 5px;
  border-bottom: 1px solid $bottom-border-color;
}
