$font-family-lato: lato, serif;
$font-family-lato-regular: lato-regular, serif;
$font-family-montserrat: montserrat, serif;
$font-family-montserrat-medium: montserrat-medium, serif;
$font-style-normal: normal;

%font-family-lato {
  @extend %font-style-normal;

  font-family: $font-family-lato;
}

%font-family-lato-regular {
  @extend %font-style-normal;

  font-family: $font-family-lato-regular;
}

%font-family-montserrat {
  @extend %font-style-normal;

  font-family: $font-family-montserrat;
}

%font-family-montserrat-medium {
  @extend %font-style-normal;

  font-family: $font-family-montserrat-medium;
}

%font-style-normal {
  font-style: $font-style-normal;
}
