@import 'src/styles/__resets';
@import 'src/styles/colors';

body,
#root {
  font-family: 'Montserrat-Medium', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  min-height: 700px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.columns-3 {

  & > * {
    padding: 0 15px;
    border-left: 1px $bottom-border-color solid;

    &:first-child {
      border-left: 0;
    }
  }

  & > *:first-child,
  & > *:last-child {
    flex: 4;
  }

  & > *:nth-child(2) {
    flex: 7;
  }
}