@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/resets';

body,
#root {
  @extend %font-family-normal;

  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  overflow: auto !important;
  padding: 0 !important;
}

.wrapper,
%wrapper {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  min-height: 700px;
  width: 100%;
}

form {
  .btnSubmitInForm {
    margin-top: 10px;
  }
}

/* stylelint-disable */
.columnsThree,
%columnsThree {
  & > * {
    border-left: 1px colors.$bottom-border-color solid;
    padding: 0 15px;

    &:first-child {
      border-left: 0;
    }
  }

  & > *:first-child,
  & > *:last-child {
    flex: 4;
  }

  & > *:nth-child(2) {
    flex: 7;
  }
}

a:link {
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }
}

/* stylelint-enable */

/* width */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: colors.$primary-dark-grey-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: colors.$color-btn-disabled;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: colors.$primary-blue;
}

.body-light-theme {
    background-color: colors.$light-base-color-400;
}

.body-dark-theme {
    background-color: colors.$dark-base-color-400;
}
