@import "src/styles/colors";

.contestWrapper {
  min-height: 700px;
  width: 100%;
  margin: 0 auto;
  box-shadow: $box-shadow-color;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.contestHeading {
  padding: 0;
  margin-bottom: 30px;
  border: none;
}