@import "src/styles/colors";
@import "src/styles/components";
@import "src/styles/global";

.contestWrapper {
  @extend .wrapper;
}

.contestHeading {
  padding: 0;
  margin-bottom: 30px;
  border: none;
  text-align: center;
}

.sizeThree {
  flex: 3;
}

.sizeRest {
  flex: 7;
}

.headingContest {
  @extend .contentSize;
}


.container {
  border-left: 1px $bottom-border-color solid;
  padding: 15px;

  &:first-of-type {
    border-left: 0;
  }
}

.contestInfoContainer {
  display: flex;
  justify-content: space-around;
}