@import "src/styles/colors";
@import "src/styles/components";

.contestWrapper {
  min-height: 700px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.contestHeading {
  padding: 0;
  margin-bottom: 30px;
  border: none;
  text-align: center;
}

.sizeTwo {
  flex: 2;
}

.sizeThree {
  flex: 3;
}

.sizeRest {
  flex: 7;
}

.headingContest {
  @extend .contentSize;
}


.container {
  border-left: 1px $bottom-border-color solid;
  padding: 15px;

  &:first-of-type {
    border-left: 0;
  }
}

.contestInfoContainer {
  display: flex;
  justify-content: space-around;
}