@import "src/styles/colors";
@import "src/styles/fonts";
@import "src/styles/variables";

.headerPrimaryHeading {
  border: none;
  font-size: $f-size-36;
}

.headerBulletsWrapper {
  padding: 10px;
  align-items: flex-start;
}

.headerBullet {
  i {
    color: $primary-green;
    padding-right: 5px;
  }

  color: $text-dark-gray-color;
  font-size: $f-size-18;
  @extend %font-family-lato;
  font-weight: lighter;
  padding-top: 10px;
  margin-top: 8px;
}

.headerLeftButton {
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px;
}