@import "src/styles/colors";

.statisticsList {
  padding-top: 20px;
  padding-left: 8%;
  justify-content: center;

  .statisticsListItem {
    padding: 15px;
    background: $background-color-light-gray;
    margin: 20px 0;
    flex: 1 1 30%; /* grow | shrink | basis */
  }
}

.icon {
  color: $success-background-color;
}
