@import 'src/styles/colors';

.statisticsList {
  justify-content: center;
  padding-left: 8%;
  padding-top: 20px;

  .statisticsListItem {
    background: $background-color-light-gray;
    flex: 1 1 30%; /* grow | shrink | basis */
    margin: 20px 0;
    padding: 15px;
  }
}

.icon {
  color: $success-background-color;
}
