.form {
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.inputRow {
  width: 100%;
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

.textArea {
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem auto;
}

.centralize {
  text-align: center;
  margin-bottom: 10px !important;
  margin-top: 20px !important;
  align-self: center;
}

.button {
  width:10rem;
  height: 3rem;
  margin: 0 10px;
}

.buttonsWrapper {
  display: flex;
  justify-content:space-around;
  align-self: center;
  width: 30%;
  padding: 1rem;
}
