@use 'src/styles/spacings';
@use 'src/styles/border-radiuses';

.profileElementsWrapper {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(7, 1fr);

  a {
    align-items: center;
    border-radius: border-radiuses.$br-6;
    color: inherit;
    display: flex;
    justify-content: center;
    padding: spacings.$sp-8 spacings.$sp-16;
    text-align: center;
    word-break: break-word;
  }
}
