@use 'src/styles/spacings';
@use 'src/styles/variables';
@use 'src/styles/font-weights';

.searchPageWrapper {
  padding: spacings.$sp-64;

  .searchTextHeader {
    font-size: variables.$f-size-24;
    font-weight: font-weights.$font-weight-medium;
    margin-top: spacings.$sp-16;
    text-align: center;
  }

  .searchSectionHeader {
    font-size: variables.$f-size-24;
    font-weight: font-weights.$font-weight-medium;
    margin-top: spacings.$sp-24;
  }

  .searchResultsWrapper {
    margin: spacings.$sp-24 0;
  }

  .line {
    background-color: #b4b4b4 !important;
    border-color: transparent;
    margin: spacings.$sp-16 0;
  }
}
