@use 'src/styles/shadows';
@use 'src/styles/fonts';
@use 'src/styles/spacings';
@use 'src/styles/border-radiuses';
@use 'src/styles/variables';
@use 'src/styles/colors';

.contestCardWrapper {
  @extend %font-family-roboto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: border-radiuses.$br-6;
  font-size: variables.$f-size-12;
  box-shadow: shadows.$dp-shadow-4;
  padding: spacings.$sp-16 spacings.$sp-18;
  .contestDetailsFragmentsWrapper {
    display: flex;
  }
  .contestCardTitle {
    font-size: variables.$f-size-18;
  }
  .contestCardSubTitle {
    margin-top: spacings.$sp-4;
  }
  .contestDetailsFragment {
    display: flex;
    justify-content: space-between;
    color: colors.$primary-blue;
    margin-top: spacings.$sp-16;
    > i {
      height: 16px;
      width: 16px;
    }
    > div {
      margin-right: spacings.$sp-32;
    }
  }
  .contestBtnsWrapper {
    .contestBtnWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      .contestPoints {
        font-size: variables.$f-size-16;
        margin-right: spacings.$sp-8;
      }
      &:first-child {
        margin-bottom: spacings.$sp-12;
      }
    }

    button {
      width: 100px;
      @extend %font-family-roboto;
      font-size: variables.$f-size-16;
      color: colors.$white-color;
      padding: spacings.$sp-4 0;
      border-radius: border-radiuses.$br-6;
      border: none;
      cursor: pointer;
      font-weight: 500;
      align-self: flex-end;
      background-color: colors.$primary-blue;
      &:first-child {
        background-color: colors.$secondary-green;
      }
      &:disabled {
        background-color: transparent;
        border: #687487 2px solid;
        color: #687487;
        cursor: auto;
      }
    }
  }
}