@import "src/styles/colors";

.tasksSideNavigation {
  text-align: center;
  border-right: 1px solid;
  border-right-color: $bottom-border-color;
}

.tasksListSideNavigation {
  align-items: start;
  padding: 20px;
}

.taskSideNavigationItem {
  text-align: start;
  font-size: 18px;
  font-family: 'Lato', serif;
  margin-top: 10px;
  color: $text-dark-gray-color;
  
  &:hover {
    cursor: pointer;
  }
}

.taskSideNavigationItemSelected {
  @extend .taskSideNavigationItem;
  
  color: $color-btn-secondary;
}