@import "src/styles/colors";
@import "src/styles/fonts";
@import "src/styles/variables";

.tasksSideNavigation {
  text-align: center;
}

.tasksListSideNavigation {
  align-items: start;
  padding: 20px;
  display: flex;

  .taskSideNavigationItem {
    text-align: start;
    font-size: $f-size-18;
    @include font-family-lato;
    margin-top: 10px;
    color: $text-dark-gray-color;

    &:hover {
      cursor: pointer;
    }

    &.selected {
      color: $color-btn-secondary;
    }
  }
}

.taskListItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 25px 0 5px;
  border-bottom: 1px solid $bottom-border-color;
}
