@use 'src/styles/fonts';
@use 'src/styles/colors';
@use 'src/styles/variables';
@use 'src/styles/spacings';
@use 'src/styles/shadows';
@use 'src/styles/font-weights';

.contestSolutionSubmitWrapper {
  @extend %font-family-normal;

  padding: spacings.$sp-16 spacings.$sp-64;

  .title {
    font-size: variables.$f-size-30;
    font-weight: font-weights.$font-weight-bold;
  }

  .nameWrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: spacings.$sp-32;

    .allResultsLink {
      color: colors.$secondary-green;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .problemsAndEditorWrapper {
    display: flex;
    margin-top: spacings.$sp-64;
  }

  .submissionsWrapper {
    display: flex;
    flex-direction: column;
    margin-top: spacings.$sp-24;

    .submissionsTitleWrapper {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      margin-bottom: spacings.$sp-32;

      svg {
        cursor: pointer;
        margin-left: spacings.$sp-12;
      }
    }

    > div {
      font-size: variables.$f-size-30;
      font-weight: font-weights.$font-weight-semi-bold;
      margin-bottom: spacings.$sp-16;
    }
  }
}

.selectedProblemWrapper {
  margin-left: spacings.$sp-24;
  width: 90%;

  .problemNameAndTimeWrapper {
    align-items: center;
    color: colors.$primary-blue;
    display: flex;
    justify-content: space-between;

    b {
      font-weight: font-weights.$font-weight-bold;
      margin-left: spacings.$sp-8;
    }

    .problemName {
      align-items: center;
      display: flex;
      font-size: variables.$f-size-30;
      font-weight: font-weights.$font-weight-bold;

      span {
        font-size: variables.$f-size-16;
        font-weight: font-weights.$font-weight-light;
        margin-left: spacings.$sp-12;
      }
    }
  }

  .problemDescriptionsWrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;

    > svg {
      color: colors.$primary-blue;
      cursor: pointer;
    }
  }
}

.submitSettings {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-top: spacings.$sp-24;
}

.fileUpload {
  div {
    margin: spacings.$sp-12 0;

    span {
      font-weight: font-weights.$font-weight-semi-bold;
    }
  }
}

.fileUploadError {
  color: colors.$primary-red;
}

.popoverContent {
  @extend %font-family-normal;

  font-size: variables.$f-size-14;
  overflow: hidden;
  padding: 0 spacings.$sp-8;

  div {
    margin: spacings.$sp-8 0;
  }

  .title {
    font-weight: font-weights.$font-weight-semi-bold;
  }
}

.remainingTimeNadSubmitButtonWrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: spacings.$sp-24;

  > div {
    margin-bottom: spacings.$sp-12;
  }

  button {
    width: 200px;
  }
}

.solutionSubmitError {
  color: colors.$primary-red;
  text-align: end;
  margin-top: spacings.$sp-18;
  font-size: variables.$f-size-18;
  font-weight: font-weights.$font-weight-semi-bold;
}

.administrationButtonWrapper {
  margin-top: spacings.$sp-32 !important;
}

.problemDescriptions {
  display: flex;
  margin: spacings.$sp-24 0;
}