@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/font-weights';
@use 'src/components/guidelines/buttons/Button.module';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  outline: none;
  // box-shadow: 0 0 0 30px inset !important;
  transition-delay: 9999s;
  transition-property: background-color, color;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.formControlContainer {
  margin-top: 10px;
  position: relative;
}

.darkBackground {
  background-color: colors.$dark-base-color-200;
}

.lightBackground {
  background-color: colors.$white-color;
}

.lightFormControl {
  @extend .lightBackground;

  border: 1px solid colors.$dark-base-color-200;
}

.darkFormControl {
  @extend .darkBackground;

  border: 1px solid colors.$white-color;
}

.formControl {
  @extend %font-family-lato;

  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 15px;
  min-height: 40px;
  padding: 16px;
  position: relative;
  width: 100%;

  &:focus + label,
  &:not(:placeholder-shown) + label {
    padding: 5px;
    transform: translateX(-13%) translateY(-130%) scale(0.8);
  }

  &[type='text'],
  &.formControlTextArea {
    border-radius: 6px;
    color: colors.$grey-color;
    display: block;
    font-weight: font-weights.$font-weight-light;
    max-height: 50px;
    outline: none;
    padding: 16px;
    width: 100%;
  }

  &[type='checkbox'],
  &[type='radio'] {
    appearance: none;
    border-radius: 3px;
    cursor: pointer;
    height: 18px;
    padding: 0;
    width: 18px;

    &::after {
      background: url('./check-white.svg') no-repeat 35%;
      background-size: 70%;
      border-radius: 2px;
      content: '';
      height: 16px;
      left: 0;
      padding: 0;
      position: absolute;
      text-align: center;
      top: 0;
      transition: all 0.2s ease-in;
      width: 16px;
    }

    &:checked {
      border-color: colors.$primary-blue;

      &::after {
        background-color: colors.$primary-blue;
        transform: scale(1);
      }
    }

    &:not(:checked) {
      &::after {
        transform: scale(0);
      }
    }
  }
}

.formLabel {
  display: block;
  margin-left: 15px;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
}

input::placeholder {
  opacity: 0;
}

.fileInput {
  border: 0;
  padding: 5px;
}

input::file-selector-button {
  @extend %btn;

  color: colors.$color-btn-secondary;
  margin-right: 10px;
}
