@import "src/styles/colors";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.formControlContainer {
  margin-top: 10px;
}

.formControl {
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  min-height: 40px;
  color: $text-dark-gray-color;
  padding: 16px;
  position: relative;
  margin-top: 15px;
  border: 1px solid $text-dark-gray-color;
  border-radius: 6px;
  
  &:focus + label,
  &:not(:placeholder-shown) + label {
    transform: translateX(-13%) translateY(-130%) scale(0.80);
    background: white;
    padding: 5px;
  }
  
  &[type="text"],
  &.formControlTextArea {
    display: block;
    max-height: 50px;
    width: 100%;
    padding: 16px;

    font-weight: 400;
    color: #565656;
    border: 1px solid #565656;
    outline: none;
    border-radius: 6px;
  }

  &[type='checkbox'],
  &[type='radio'] {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    padding: 0;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:after {
      content: '';
      transition: all .2s ease-in;
      background-size: 16px;
      position: absolute;
      text-align: center;
      padding: 0;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      background: url('./check-white.svg') no-repeat 35%;
      background-size: 70%;
    }

    &:checked {
      border-color: $background-color;

      &:after {
        background-color: #44a9f8;
        transform: scale(1);
      }
    }

    &:not(:checked) {
      &:after {
        transform: scale(0);
      }
    }
  }
}

.formLabel {
  display: block;
  position: absolute;
  top: 60%;
  margin-left: 15px;
  transform: translateY(-50%);
}

input::placeholder{
  opacity: 0;
}

.formControlContainer {
  position: relative;
}