<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
      -->

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=OnlineJudgeSystem;Integrated Security=True"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(name)" providerName="System.Data.SqlClient" />
	  <add name="ArchivesConnection" connectionString="Data Source=.;Initial Catalog=OnlineJudgeSystem;Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings>
    <add key="SulsPlatformBaseUrl" value="https://dev.platform.softuni.bg" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="LearningSystemSvnDownloadBaseUrl" value="https://dev.platform.softuni.bg:82/downloads/svn" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
	<add key="SulsApiKey" value="1234" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="ApiKey" value="1234" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
	<add key="RedisConnectionString" value="localhost:6379,password=12345" xdt:Transform="SetAttributes"
		xdt:Locator="Match(key)" />
	<add key="EmailServerHost" value="smtp.softuni.com" xdt:Transform="SetAttributes"
		xdt:Locator="Match(key)" />
	<add key="EmailServerPort" value="25" xdt:Transform="SetAttributes"
	    xdt:Locator="Match(key)" />
	<add key="EmailServerUsername" value="TestUser" xdt:Transform="SetAttributes"
		xdt:Locator="Match(key)" />
	<add key="EmailServerPassword" value="Test" xdt:Transform="SetAttributes"
		xdt:Locator="Match(key)" />
	<add key="EmailSenderEmail" value="test@test.org" xdt:Transform="SetAttributes"
		xdt:Locator="Match(key)" />
	<add key="EmailSenderDisplayName" value="Software University - OJS (Dev)" xdt:Transform="SetAttributes"
		xdt:Locator="Match(key)" />
  </appSettings>
  <system.webServer>
    <rewrite>
      <rules>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
