@use 'src/styles/global';
@use 'src/styles/components';
@use 'src/styles/fonts';
@use 'src/styles/variables';
@use 'src/styles/colors';

.backBtn {
  border: 0;
  margin-left: -20px;
  margin-right: -30px;
}

.btnContainer {
  display: flex;
  flex-direction: row;
}

.code {
  @extend %navigation;

  border-left: 0;
  flex: 7;

  @media only screen and (max-width: variables.$r-large-desktop-max) {
    flex: 3;
  }
}

.contestHeading {
  border: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

.detailsWrapper {
  @extend %wrapper;
  @extend %columnsThree;
}

.headingContest {
  @extend %contentSize;
}

.leftArrow {
  color: colors.$light-blue-color;
  margin-bottom: -5px;
}

.itemInvisible {
  visibility: hidden;
}

.navigation,
%navigation {
  align-content: center;
  flex: 3;
}

.resourceWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  min-height: 50px;
}

.resourceLinkButton {
  text-decoration: none;
}

.retestButton {
  margin: 0 0 0 24px;
}

.submissionsList {
  height: 60vh;

  ul {
    @extend %customScroll;

    overflow-x: hidden;
    overflow-y: auto;
  }
}

.submissionInfo {
  font-family: fonts.$font-family-lato-regular;
  margin-top: 15px;
}

.submissionInfoParagraph {
  @extend %font-family-lato;

  color: colors.$text-dark-gray-color;
  margin-bottom: 10px;
}

.submissionDetails {
  border-left: 0;
}

.taskHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.buttonsSection {
  margin-top: 20px;
}
