@import "src/styles/global";
@import "src/styles/components";

.detailsWrapper {
  @extend .wrapper;
}

.headingDetails {
  @extend .contentSize;
}

.navigation {
  align-content: center;
  padding: 5px;
  border-right: 1px #bebebe solid;
}

.code {
  @extend .navigation;
  
  flex: 4;
}

.submissionsNavigation {
  @extend .navigation;
  
  flex: 2;
  font-family: Lato, serif;
}

.submissionDetails {
  @extend .navigation;
  flex: 5;
}

.submissionList {
  align-items: unset;
}

.submissionListItem {
  @extend .listItem;
  
  margin-bottom: 10px;
}

.wrongTestRunHeading {
  color: $primary-red;
}

.correctTestRunHeading {
  color: $primary-green;
}