@import "src/styles/global";
@import "src/styles/components";

.detailsWrapper {
  @extend .wrapper;
  @extend .columns-3;
}

.headingDetails {
  @extend .contentSize;
}

.navigation {
  align-content: center;
  //border-right: 1px #bebebe solid;
  flex: 3;
}

.code {
  @extend .navigation;
  
  flex: 7;
}


.submissionDetails {
  @extend .navigation;
  
  flex: 5;
  border: none;
}

.taskHeading {
  text-align: center;
}

.wrongTestRunHeading {
  color: $primary-red;
}

.correctTestRunHeading {
  color: $primary-green;
}

.submissionsList {
  height: 60vh;
}