@import "src/styles/components";
@import "src/styles/fonts";

.modal {
  background-color: $white-color;
  width: 480px;
  max-width: 98%;
  padding: 45px;
  box-shadow: 0 0 2px rgb(0 0 0 / 14%), 0 2px 2px rgb(0 0 0 / 12%), 0 1px 3px rgb(0 0 0 / 20%);
  border-radius: 3px;
  transition: all 0.28s ease-in-out;
}

.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 30%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalHeader {
  font-size: $f-size-24;
  font-weight: normal;
}

.modalContent {
  font-size: 21px;
}

.modalFooter {
  display: flex;
  justify-content: right;
  gap: 30px;
}

.modalHeader,
.modalContent,
.modalFooter {
  padding: 15px 0;
}
