@use 'src/styles/colors';

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.bolded {
  font-weight: bold;
}

.italicized {
  font-style: italic;
}

.modal {
  background-color: colors.$white-color;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
  left: 50%;
  overflow: auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.modalHeading {
  align-self: stretch;
  background-color: colors.$light-blue-color;
}
