@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/variables';
@use 'src/styles/font-weights';

.bodyText {
  @extend %font-family-lato;

  color: colors.$text-dark-gray-color;
  display: inline-block;
  font-size: variables.$f-size-18;
  margin-bottom: -40px;
  margin-top: -40px;
  padding: 35px;
}

.bodyTextSpacing {
  letter-spacing: 0.15px;
  line-height: 1.5;
}

.boldedText {
  font-weight: font-weights.$font-weight-bold;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 50px;
}

.headingText {
  @extend %font-family-lato;

  align-self: center;
  color: colors.$white-color;
  display: inline-block;
  font-size: variables.$f-size-18;
  padding: 15px;
}

.horizontalLine {
  align-self: center;
  background-color: colors.$horizontal-line-gray;
  height: 1px;
  width: 90%;
}

.modal {
  background-color: colors.$white-color;
  border-radius: 10px;
  box-shadow: 1px 8px 8px 8px colors.$horizontal-line-gray;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-between;
  left: 50%;
  outline: none;
  overflow: auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.modalHeading {
  align-self: stretch;
  background-color: colors.$light-blue-color;
  display: flex;
  flex-basis: 20%;
}

.questionText {
  font-size: variables.$f-size-24;
  font-style: italic;
}
