@use 'src/styles/components';
@use 'src/styles/spacings';
@use 'src/styles/colors';

.contestResultsHeading {
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}

.contestName {
  color: colors.$light-blue-color;
}

.paginationControlsUpper {
  padding: 0 0 spacings.$sp-8 0;
}

.paginationControlsLower {
  padding: spacings.$sp-8 0 spacings.$sp-16 0;
}
