@use 'src/styles/components';
@use 'src/styles/colors';

.contestResultsHeading {
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}

.contestName {
  color: colors.$light-blue-color;
}
