@import 'src/styles/colors';


.iconContainer {
  position: relative;

  &.small {

  }

  &.medium {
    width: 15px;
    height: 15px;
  }

  &.large {

  }
}

.icon {
  &.success {
    color: $icon-green;
  }
  
  &.inProgress {
    color: $icon-blue;
  }

  &:hover {

    & + .helperText {
      display: inline-block;
    }
  }
}

.helperText {
  position: absolute;
  bottom: 100%;
  left: 100%;
  display: none;
  width: 200px;
  z-index: 1000;
}
