.form {
    min-height: 800px;
    width: 100%;
}

.edit {
    width:200px;
    height: 45px;
    margin: 20px 0;
}

.inputRow {
    width: 85%;
    margin-bottom: 10px !important;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.centralize {
    text-align: center;
    margin-bottom: 10px !important;
}