@using SharedResource = OJS.Common.Resources.Partials
@using OJS.Common.Enumerations

@model OJS.Services.Administration.Models.Contests.ContestResultsExportRequestModel

<form method="post" asp-controller="Results" asp-action="Export">
    <input hidden asp-for="Id" value="@Model?.Id">
    <div class="modal-body">
        @foreach (var exportType in Enum.GetValues<ContestExportResultType>())
        {
            <input type="radio" asp-for="Type" value="@exportType"/>@exportType.ToString()<br/>
        }
    </div>
    <br/>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Export</button>
    </div>
    <a href="@ViewContext.GetReturnUrl()" class="btn btn-secondary">@SharedResource.Back</a>
</form>