@use 'src/styles/colors';
@use 'src/styles/variables';
@use 'src/styles/components';
@use 'src/styles/fonts';
@use 'src/styles/spacings';
@use 'src/styles/font-weights';

.searchContainer {
  align-items: center;
  background-color: colors.$white-color;
  box-shadow: 0 2px 4px rgb(0 0 0 / 14%), 0 3px 4px rgb(0 0 0 / 12%), 0 1px 5px rgb(0 0 0 / 20%);
  display: flex;
  justify-content: space-between;
  left: 0;
  margin-top: 78px;
  position: absolute;
  top: -100%;
  transition: top 0.3s ease-in-out;
  width: 100%;
  z-index: 2;
}

.show {
  top: 0 !important;
}

.search {
  align-items: center;
  display: flex;
  margin-right: 30px;
}

.searchIcon {
  cursor: pointer;
  font-size: variables.$f-size-24;
  margin-left: spacings.$sp-12;
  margin-right: spacings.$sp-48;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.closeIcon {
  color: colors.$white-color;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.searchInput {
  font-size: variables.$f-size-16;
  margin-bottom: 15px;
  transition: transform 250ms ease-in-out, 250ms ease-in-out;
  width: 300px;

  &::placeholder {
    opacity: 1;
  }

  &:focus {
    border: 1px transparent;
    outline: 0;
  }
}

.checkboxContainer {
  display: flex;
}

.checkboxText {
  @extend %font-family-lato;

  color: colors.$text-dark-gray-color;
  font-size: variables.$f-size-16;
  font-weight: font-weights.$font-weight-light;
  line-height: 1.5;
  margin-left: spacings.$sp-4;
  margin-right: spacings.$sp-24;
}

.checkbox {
  height: 20px;
  width: 20px;
}
