@use 'src/styles/colors';
@use 'src/styles/spacings';

.legacyInfoMessage {
  background-color: rgb(68 169 248 / 30%) !important;
  margin-bottom: spacings.$sp-24;
}

.lightLegacyInfoMessage {
  background-color: rgb(68 169 248 / 10%) !important;
}

.profileButton {
  background-color: inherit;
  border: 0;
  color: colors.$light-blue-color;
  cursor: pointer;
  font: inherit;
}
