@use 'src/styles/colors';
@use 'src/styles/fonts';

.executionTypeSelector {
  @extend %font-family-normal;

  border: 2px solid;
  color: colors.$primary-blue;
  font-weight: bold;
  margin: 10px 5px;
  text-transform: none;

  &:hover {
    cursor: pointer;
  }
}
