@use 'src/styles/colors';
@use 'src/styles/fonts';
@use 'src/styles/spacings';

.executionTypeSelector {
  @extend %font-family-normal;

  border: 2px solid;
  color: colors.$primary-blue;
  font-weight: bold;
  margin: spacings.$sp-12 spacings.$sp-8;
  text-transform: none;

  &:hover {
    cursor: pointer;
  }
}
