@use 'src/styles/colors';
@use 'src/styles/variables';
@use 'src/styles/fonts';

.submissionResultsContent {
  @extend %font-family-lato;

  display: flex;
  flex-direction: column;

  @media only screen and (max-width: variables.$r-large-desktop-max) {
    .submissionsList > ul {
      font-size: variables.$f-size-16;
    }
  }
}

.refreshBtn {
  align-self: end;
  border: 0;

  &:hover {
    background: none;
    cursor: pointer;
  }
}
