@use 'src/styles/colors';
@use 'src/styles/variables';
@use 'src/styles/components';

.submissionResultsContent {
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: variables.$r-large-desktop-max) {
    padding: 10px;

    .submissionsList > ul {
      font-size: variables.$f-size-16;
    }
  }
}

.headingProblemSubmissions {
  @extend %contentSize;
}

.problemSubmissionsHeading {
  border: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

.refreshBtn {
  align-self: end;
  border: 0;

  &:hover {
    background: none;
    cursor: pointer;
  }
}
