@import "src/styles/colors";

.submissionResultsContent {
  display: flex;
  flex-direction: column;
}

.refreshBtn {
  border: none;
  align-self: end;

  &:hover {
    background: none;
    cursor: pointer;
  }
}

.submissionsList {
  // height: 40vh;
}
