@import "src/styles/colors";
@import "src/components/guidelines/buttons/Button.module";

.submissionResultsContent {
  display: flex;
  flex-direction: column;
}

.refreshBtn {
  border: none;
  align-self: end;
  
  &:hover {
    background: none;
    cursor: pointer;
  }
}
