@use 'src/styles/colors';

.submissionResultsContent {
  display: flex;
  flex-direction: column;
}

.refreshBtn {
  align-self: end;
  border: 0;

  &:hover {
    background: none;
    cursor: pointer;
  }
}

.submissionsList {
  // body
}
